<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>아라쇼 라이브방송 관리자 입니다.</title>
    <style>
        /* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700"); */
        /*
         *
         *   INSPINIA - Responsive Admin Theme
         *   version 2.8
         *
        */
        @import url("https://i-vory.net/ivory/static/font/pretendard/font.css");

        body {
            font-family: ivory_pretendard !important;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="아이보리 라이브쇼 관리자페이지" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://i-vorylive.net/adm/" />
    <meta property="og:description" content="아이보리 라이브쇼 관리자 페이지 입니다." />
    <meta property="og:image" content="img/meta/preview_icon.jpg" />
    <meta property="og:image:width" content="233" />
    <meta property="og:image:height" content="132" />
    <title>IVORY | Login</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/partners/resources/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">

    <link href="/stylesheets/campaignReportLogin.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="login-wrap middle-box text-center loginscreen animated fadeInDown">
        <div class="login-box">
            <h1><a href="#"><img src="/images/logo.png" alt="아라쇼 라이브" /></a></h1>
            <h3 align="center">IVORY LIVE SHOW ADMIN</h3>

            <div class="login-form">
                <form class="m-t" id="loginForm" action="/onlogin" method="POST" role="form">
                    <h4>Login</h4>
                    <p>전달받으신 아이디와 패스워드를 입력해주세요</p>
                    <div class="form-group custom">
                        <input type="text" class="form-control" placeholder="아이디를 입력하세요" id="id" name="id" />
                    </div>
                    <div class="form-group custom">
                        <input type="password" class="form-control" placeholder="비밀번호를 입력하세요" id="password"
                            name="password" />
                    </div>
                    <input type="hidden" placeholder="" id="seq" name="seq" value="<%=data%>" />
                    <button type="submit" class="btn block full-width m-b" style="line-height: 2;">로그인</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

    <script>


        const error = new URLSearchParams(location.search).get("error");
        if (error) {
            let msg = error == "noid" ? "아이디 혹은 비밀번호가 잘못되었습니다." : "로그인 중 오류가 발생하였습니다.";
            alert(msg);
        }
        /*
        const loginBtn = document.querySelector('#checkLogin');
        const form = document.querySelector('#loginForm');

         loginBtn.addEventListener('click', (e) => {
            e.preventDefault();

            let loginId = document.querySelector('#admId').value;
            let password = document.querySelector('#password').value;

            let loginData = {
                method: 'get',
                body: JSON.stringify({ loginId, password }),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch(`http://i-vory.net/gateway/admin/adminAccount.json`, loginData)
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    if (response)
                        form.submit();

                })
                .catch(err => {
                    alert('아이디 또는 패스워드를 확인해 주세요.');
                });

        });

        if(pass == false) {
            alert('로그인에 실패했습니다.');
        }
        */
    </script>
</body>

</html>