<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>아라쇼 라이브방송 관리자 입니다.</title>
    </head>
    <body>
        <div align="center">
            <form id="loginForm" method="post" action="/admin">
                <label for="admId">ID</label><br>
                <input type="text" id="admId" name="admId"><br>
                <label for="password">PASSWORD</label><br>
                <input type="password" id="password" name="password"><br>
                <button type="submit" id="checkLogin" name="checkLogin">Login</button>
            </form>
        </div>
    </body>
    <script>
        const loginBtn = document.querySelector('#checkLogin');
        const form = document.querySelector('#loginForm');

        loginBtn.addEventListener('click', (e) => {
            e.preventDefault();

            let loginId = document.querySelector('#admId').value;
            let password = document.querySelector('#password').value;

            let loginData = {
                method: 'get',
                body: JSON.stringify({ loginId, password }),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch(`http://i-vory.net/gateway/admin/adminAccount.json`, loginData)
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    if (response)
                        form.submit();

                })
                .catch(err => {
                    alert('아이디 또는 패스워드를 확인해 주세요.');
                });

        });
    </script>
</html>