<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-211983524-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-211983524-1');
    </script>
    <link href="https://iandna-contents.s3.ap-northeast-2.amazonaws.com/ivory/font/pretendard/font.css"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/liveWatingBox.css" />
    <title>아라쇼 라이브방송 호스트 입니다.</title>
</head>

<body>
    <div class="wrapper admin host">
        <div class="background_content">
            <div id="beforeWaitingBox" class="before_waiting_box">

            </div>
            <!-- 영상, 이미지 위치 유튜브 위치 -->
            <!--<img id="live_preview" src="" alt="이미지 임시" />-->
            <img id="live_preview" src="" alt="이미지 임시" />
            <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
            <div id="on_live">
                <input id="streamUrl" type="hidden" value="" />
                <!-- <img src="/images/testonair.png" /> -->
                <input id="currentUrl" type="hidden" value="" />
                <video class="live_video" controlslist="nodownload" playsinline controls autoplay muted
                    id="video-player"></video>
                <video class="live_video" controlslist="nodownload" playsinline controls autoplay muted
                    id="video-player_ml" style="display: none"></video>
            </div>
        </div>
        <div class="inner_layout">

            <!-- header -->
            <header>
                <h1>
                    <a href="#"><img src="/images/logo.png" alt="아라쇼 라이브" /></a>
                </h1>
                <div class="title_box" data-hidden-item="false">
                    <a href="#" class="title_profile">
                        <img id="brand_ci" class="profile" src="" alt="라이브 프로필 이미지" />
                        <img class="live" src="/images/label_live.png" alt="라이브 방송" />
                    </a>
                    <a href="#" class="title_info">
                        <h2 id="live_title"></h2>
                        <div>
                            <span class="count_item"><ion-icon name="play-outline"></ion-icon><span
                                    id="viewCount">333,333</span></span>
                            <span class="count_item"><ion-icon name="heart-outline"></ion-icon><span
                                    id="lineCount">0</span></span>
                        </div>
                    </a>
                </div>
            </header>
            <div class="btn_group">
                <!-- <button data-hidden-item="false" class="btn_icon alarm" type="button" id="onClickAlarm">알람설정</button> -->
                <button data-hidden-item="false" class="btn_icon mute off" type="button" id="onClickMute">음소거</button>
                <!-- <button data-hidden-item="false" class="btn_icon setting" type="button" id="onClickSetting">설정</button> -->
            </div>

            <!-- before/after content -->
            <div class="before_item" hidden>
                <span class="before_waiting_box countdown">
                    <!-- soon 클래스 추가 시 텍스트 색상 강조 -->
                    <span id="countDown" class=""></span>
                    곧 라이브가 시작됩니다!
                </span>
                <input id="arashowStTm" type="hidden" value="" />
                <input id="arashowEndTm" type="hidden" value="" />
                <!-- <div class="alarm_box">
                    <button class="btn_alarm" type="button" id="onClickAlarm2"><span class="icon"></span>알림받기</button>
                    <div class="popup_item">
                        <i></i>
                        <span><strong>라이브 방송 알림</strong>을 설정하시면<br />라이브 진행 시 알림을 보내드려요.</span>
                    </div>
                </div> -->
            </div>

            <div class="after_item">
                <span class="text">라이브가 종료되었습니다.</span>
                <button class="btn_replay" type="button" id="onClickReplay">앱으로 돌아가기 </button>
                <!-- <a href="#" class="other_live">다른 라이브 보기</a> -->
            </div>

            <!-- tag item -->
            <div id="mainPrdt" class="tag_item" data-hidden-item="false">
                <a>
                    <div class="thumbnail"><img id="thumImg" src="" alt="상품 썸네일" /></div>
                    <div class="tag_item_title" id="tagItemTitle"></div>
                    <div class="tag_item_price">
                        <span id="tagRate" class="rate"></span>
                        <strong id="tagPrice"></strong>
                    </div>
                </a>
            </div>

            <!-- bottom right button group -->
            <div class="bottom_btn_group" data-hidden-item="false">
                <button type="button" class="buttom_btn product" id="onClickProduct">
                    전체 상품
                    <span class="badge" id="count">9</span>
                </button>
            </div>

            <!-- slide modal content: live info -->
            <div class="slide_wrap" id="slideModal_LiveInfo">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box">
                    <div class="slide_title">
                        <div class="tab_group">
                            <a href="#" data-tab-btn="1" class="tab_btn active">
                                <h3>라이브 소개</h3>
                            </a>
                            <a href="#" data-tab-btn="2" class="tab_btn">
                                <h3>라이브 공지</h3>
                            </a>
                        </div>
                        <button class="close onclickCloseSlide" type="button"><ion-icon
                                name="close-outline"></ion-icon></button>
                    </div>
                    <div class="slide_content active" data-tab="1">
                        <h3>상품 간략 설명</h3>
                        <div class="textbox">
                            설명은 간략하게 내용은 간결하게
                        </div>
                        <h3>상품 고지사항</h3>
                        <div class="textbox">
                            고지는 간략하게 내용은 간력하게
                        </div>
                    </div>
                    <div class="slide_content" data-tab="2">
                        <h3>공지사항1</h3>
                        <div class="textbox">
                            공지1는 간략하게 내용은 간결하게
                        </div>
                        <h3>공지사항2</h3>
                        <div class="textbox">
                            공지2는 간략하게 내용은 간력하게
                        </div>
                    </div>
                </div>
            </div>

            <!-- slide modal content: forceDisconnectList -->
            <div class="slide_wrap" id="slideModal_disconnectList">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box">
                    <div class="slide_title">
                        <div class="tab_group">
                            <h3>강제퇴장 리스트</h3>
                        </div>
                        <button class="close onclickCloseSlide" type="button"><ion-icon
                                name="close-outline"></ion-icon></button>
                    </div>
                    <form action="/removeDisconnectList" method="post">
                        <div class="slide_content product">
                            <ul id="dcList" class="product_list">
                            </ul>
                        </div>
                        <div align="center">
                            <input type="hidden" id="disSeqNo" name="disSeqNo" value="0">
                            <button type="submit" id="disconnectBtn" class="btn_replay">강제퇴장 리스트 제거</button>

                        </div>
                    </form>
                </div>
            </div>

            <!-- slide modal content: product -->
            <div class="slide_wrap" id="slideModal_Product">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box">
                    <div class="slide_title product_title">
                        <div class="tab_group">
                            <h3>라이브에 소개된 상품</h3>
                        </div>
                        <button class="close onclickCloseSlide" type="button"><ion-icon
                                name="close-outline"></ion-icon></button>
                    </div>
                    <div class="slide_content product">
                        <ul id="prdtList" class="product_list">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- slide modal content: share -->
            <div class="slide_wrap" id="slideModal_Share">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box share">
                    <div class="slide_title product_title">
                        <div class="tab_group">
                            <h3>공유하기</h3>
                        </div>
                        <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline" role="img"
                                class="md hydrated" aria-label="close outline"></ion-icon></button>
                    </div>
                    <div class="slide_content share">
                        <div class="share_btn">
                            <button type="button" class="btn kakao" onclick="shareKakao();">카카오톡 공유</button>
                            <button type="button" class="btn url" onclick="copyUrl();">URL 공유</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_right">

            <div class="inner_layout only_chatt">
                <!-- chatting -->
                <!--- <div class="chatting_notice"  id="chatting_notice"  >
                        <div class="chatting_item"><ion-icon name="pricetag-outline"></ion-icon><span class="text"></span></div>
                    </div> -->
                <div class="chatting_wrap second" data-hidden-item="false" style="max-height: calc(100vh - 80px)">
                    <div class="chatting_inner">
                        <div class="chatting_movebox" id="chattingList">
                        </div>
                    </div>
                </div>

                <div class="chatting_wrap host_userlist">
                    <div class="chatting_inner message_list">

                        <!-- 이건뭐고 -->
                        <div class="chatting_movebox" id="systemMsgList">
                        </div>
                    </div>
                </div>

                <div class="chatting_inner message_list">

                    <!-- 이건뭐고 -->
                    <div class="chatting_movebox" id="systemMsgList">
                    </div>
                </div>

                <!-- slide modal content: chatting -->
                <div class="slide_wrap no_display" id="slideModal_Comment">
                    <div class="slide_box chatting">
                        <div class="emoji">
                            <!-- ❤😂😂🤣❤😍👌😘😒😜💖🤷‍♀️🤦‍♂️😢🎶🤦‍♀️👍😎😉🙌😁🤞✌💕👏💋🌹🤳🐱‍🏍🐱‍👤🎂🎂👀😃✔🐱‍🚀🎁🤔😀😂😂😃😄😍😍🥰🥰🥰😗😗👩🧑👧👶👶👵❤❣💞💞 -->
                            <div class="emoji_item"><span>👍</span></div>
                            <div class="emoji_item"><span>💖</span></div>
                            <div class="emoji_item"><span>😍</span></div>
                            <div class="emoji_item"><span>✌</span></div>
                            <div class="emoji_item"><span>🎁</span></div>
                            <div class="emoji_item"><span>🤣</span></div>
                            <div class="emoji_item"><span>😁</span></div>
                            <!-- <div class="emoji_item"><img src="/images/imoticon/emoji-17.png" alt="" /></div> -->
                        </div>
                        <textarea style="resize: none;" class="chatting_input" name="chattingInput" id="chattingInput"
                            cols="1" placeholder="실시간 채팅에 참여하세요"></textarea>
                        <!-- <button type="button" class="chatting_btn_qna" id="onClickChattingMode"><ion-icon name="chatbubbles-outline"></ion-icon></button> -->
                        <ion-icon name="at-outline"></ion-icon>
                        <button type="button" class="chatting_btn_qna" id="onClickChattingModeAdmin">시스템 알림</button>
                        <button type="submit" class="chatting_btn_submit" id="onClickChattingSubmit">전송</button>
                        <button type="submit" class="chatting_btn_copy" id="onClickChattingAllCopy">채팅 복사</button>
                        <textarea class="hidden_textarea" id="clipboardCopy"></textarea>
                    </div>
                </div>
            </div>
            <div class="inner_layout only_qna_log no_display">
                <div class="chatting_wrap" data-hidden-item="false">

                    <div class="chatting_inner message_list">

                        <!-- 이건뭐고 -->
                        <div class="chatting_movebox" id="systemMsgList">
                        </div>
                    </div>

                    <div class="chatting_inner qna chatting_list">

                        <!-- 이건뭐임 -->
                        <div class="chatting_movebox" id="chattingList_qna">
                        </div>
                    </div>

                    <div class="chatting_inner qna button_group">
                        <button type="button" id="delete_notice" class="admin_button">공지사항 삭제</button>
                        <!--<button type="button" id="deleteForceDisconnectList" class="admin_button">강퇴리스트 삭제</button>-->
                        <button type="button" id="deleteForceDisconnectListByCheck" class="admin_button">강퇴리스트 선택
                            삭제</button>
                        <button type="button" id="onlogout" class="admin_button" value="0">로그아웃</button>
                    </div>
                </div>
            </div>

        </div>
        <!--            <div class="modal fade" id="forceDisconnectListModal" role="dialog">-->
        <!--                <div class="modal-dialog modal-xl modal-dialog-centered">-->
        <!--                    <div class="modal-content" id="listModal">-->
        <!--                        <div class="modal-header">-->
        <!--                            <h4 class="modal-title">강제퇴장 리스트</h4>-->
        <!--                        </div>-->
        <!--                        <div class="modal-body" id="list">-->

        <!--                        </div>-->
        <!--                        <div class="modal-footer">-->
        <!--                            close-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
</body>

<script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-BPMGFK01BP"></script>

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<!-- ionicon -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

<!-- ivs console -->
<script src="https://player.live-video.net/1.8.0/amazon-ivs-player.min.js"></script>

<!-- custom js -->
<script src="/javascripts/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/javascripts/cm.js"></script>

</html>
<script src="/socket.io/socket.io.js"></script>
<script>
    var chattingList = document.getElementById('chattingList');
    var systemMsgList = document.getElementById('systemMsgList');
    var qnaChattingList = document.getElementById('chattingList_qna');
    var sendButton = document.getElementById('onClickChattingSubmit');
    var btnClipboardCopy = document.getElementById('onClickChattingAllCopy');
    var arashowCountTimer = 0; // 아라쇼 남은시간 타이머
    var timer = 0; // 아라쇼 방송 체크
    var liveInfo, socket, SVR_URL;


    $(document).ready(function () {
        //SVR_URL = '<%= process.env.SVR_URL %>';
        SVR_URL = 'https://i-vory.net/gateway/ivory';
        var seqNo = new URLSearchParams(location.search).get('seq_no');
        // console.log('document seqNo : ' + seqNo);
        createChatingRoom();
        getProdtInfo(seqNo);
        getArashowInfo(seqNo);

        $('#disSeqNo').val(seqNo);
        $('#onlogout').val(seqNo);

        /* 문의하기 상태 초기화  */
        /* 채팅창 아래로 자동 내리기*/
        $('#onClickChattingModeAdmin').removeClass('active')
        const target = $('#slideModal_Comment');
        target.addClass('active');
        target.find('.slide_back').addClass('opening');
        target.find('.slide_box').addClass('opening');
        $('.tag_item').attr('data-hidden-item', true);
        $('.bottom_btn_group').attr('data-hidden-item', true);
        $('.chatting_wrap.second').css({ bottom: '95px', 'z-index': 106 });
        // $('#chatting_notice').css({ bottom: '400px', 'z-index': 106 });
        $('.tag_item').attr('data-hidden-item', false);
        $('.bottom_btn_group').attr('data-hidden-item', false);
        $('#chatting_notice_adm').css({ bottom: '440px', 'z-index': 106 });

        setTimeout(GLOBAL.FUCNTION.timeoutRemoveClass2, 300, target, 'opening');

        timer = setInterval(getArashowInfo, 15000);
    });

    function createChatingRoom() {
        var nd_env = '<%= process.env.NODE_ENV %>';
        if (nd_env === 'local') {
            socket = io();
        } else {
            socket = io('https://i-vorylive.net', { transports: ['websocket'] });
        }
        /*[listen] Chatting Server connection completed */
        socket.on('connect', function () {
            var _userId = 'admin_pk'
            var _nickName = ''

            socket.userId = _userId;
            socket._nickName = _nickName;
            /*[broadcast] Im in */
            socket.emit('newUserConnect', {
                userId: _userId,
                nickName: _nickName
            });
        });

        /*[listen] update New user access welcome message */
        socket.on('updateWelcomeMessage', (data) => {

            /* already show return */
            // if($('#chatting_notice').attr('data-hidden-item') == false){
            //   return;
            // } else{

            var wrap = document.createElement('div');
            var nickName = document.createElement('strong');
            var message = document.createElement('span');

            message.innerText = data.message;
            wrap.classList.add('chatting_item');
            message.classList.add('text');
            wrap.dataset.id = data.clientId;
            wrap.appendChild(nickName);
            wrap.appendChild(message);

            if (data.userId.indexOf('admin') == -1) {
                systemMsgList.appendChild(wrap);
                setTimeout(() => GLOBAL.FUCNTION.fixedScrollBottomMovebox($(systemMsgList)), 200);
            }
            //$('#chatting_notice').attr('data-hidden-item', false);
            // $('#chatting_notice').find('span.text').text(data.message);

        });

        /*[listen] update admin message */
        socket.on('updateAdminMessage', (data) => {
            $('#chatting_notice_adm').attr('data-hidden-item', false);
            $('#chatting_notice_adm').find('span.text').text(data.message);
            setTimeout(() => {
                $('#chatting_notice_adm').attr('data-hidden-item', true);
            }, 4000);
        });

        /*[listen] update messages from users */
        socket.on('updateMessageToClient', (data) => {
            var chatMessageEl = drawChatMessage(data);
            chattingList.appendChild(chatMessageEl);

            if (data.chat_type === 'QNA') {
                $(chatMessageEl).dblclick(function () {
                    let message = prompt(`${data.nickName} 에게 답변하기`);
                    let userId = data.userId;
                    let clientId = data.clientId;
                    let clientMessage = data.message;
                    let nickName = data.nickName;

                    console.log(userId);
                    if (message.length < 4) {
                        alert('4글자 이상의 답변을 달아주세요.')
                        return;
                    }

                    var result = confirm(`${message}를 ${data.nickName}에게 보내시겠습니까?`);
                    if (result == false) {
                        return;
                    }

                    $(chatMessageEl).find('.status').text('답변완료');
                    $(chatMessageEl).find('.status').css('background-color', '#fbff00')
                    socket.emit('sendReplyMessageToSvr', {
                        message,
                        clientMessage,
                        userId,
                        clientId,
                        nickName,
                        private_type: "QNA_REPLY",
                    });

                    $(chatMessageEl).append('<div class="qna_reply">' + message + '</div>')
                });
                qnaChattingList.appendChild(chatMessageEl);
                setTimeout(() => GLOBAL.FUCNTION.fixedScrollBottomMovebox($(qnaChattingList)), 200);
            } else {

                //  if(data.userId == "admin_pk" || data.userId == "SUB_ADMIN"){
                $(chatMessageEl).click(function () {
                    if (!$(this).hasClass('notice') && !$(this).find('.name').hasClass('admin')) {

                        var result = confirm(`[${data.nickName}]님을 강제퇴장 시키시겠습니까?`);
                        if (result == false) {
                            return;
                        }
                    }

                    socket.emit('requestUserForceDisconnect', {
                        data
                    });
                });
                //  }
            }
            setTimeout(() => {
                // GLOBAL.FUCNTION.fixedScrollBottomAdm();
                $('.chatting_wrap').scrollTop($('.chatting_wrap .chatting_inner').outerHeight());
                $('#chattingInput').focus();
            }, 200);
        });

        /*[listen] update Real-time change information (like, viewpage, nickname) */
        socket.on('updateRealData', (data) => {
            var intLikeCnt = parseInt(data.likeCount);
            var strLikeCnt = intLikeCnt.toLocaleString('ko-KR');

            if (parseInt($('#lineCount').text().replace(/,/gi, '')) < intLikeCnt) {
                $('#lineCount').text(strLikeCnt);
            }

            var intViewCnt = parseInt(data.viewCount);
            var strViewCnt = intViewCnt.toLocaleString('ko-KR');
            $('#viewCount').text(strViewCnt);

            var nickName = data.nickName;
            $('#nickName').text(nickName + '님');
        });

        /*[listen] Real-time change information (like) */
        socket.on('updateLikeCount', (data) => {
            var intLikeCnt = parseInt(data.likeCount);
            var strLikeCnt = intLikeCnt.toLocaleString('ko-KR');

            if (parseInt($('#lineCount').text().replace(/,/gi, '')) < intLikeCnt) {
                $('#lineCount').text(strLikeCnt);
            }
        });
    }

    /* press enter */
    $('#chattingInput').keypress((event) => {
        if (event.which == 13 && event.shiftKey) {
        } else if (event.which == 13) {
            event.preventDefault();
            sendMessageToSvr(chattingInput);
        }
    });
    sendButton.addEventListener('click', () => {
        sendMessageToSvr(chattingInput);
    });

    btnClipboardCopy.addEventListener('click', () => {
        copyClipboardCatting();
    })

    function copyClipboardCatting() {
        var chatList = $('#chattingList .chatting_item');
        var chat = '';
        var textarea = document.getElementById('clipboardCopy');
        if (chatList.length > 0) {

            for (var i = 0; chatList.length > i; i++) {
                var item = $(chatList[i]);
                chat += `닉네임(${item.find('.name').text().trim() === '' ? '' : item.find('.name').text() + ') : '}`;
                chat += item.find('.text').text();
                chat += ', \n';
            }

            $('#clipboardCopy').text(chat);
            textarea.select();
            document.execCommand('copy');
            textarea.setSelectionRange(0, 0);
            alert('현재 채팅을 클립보드에 복사하였습니다.');
        }
    }

    function sendMessageToSvr(chattingInput) {

        var noticeType = ($('#onClickChattingModeAdmin').hasClass('active')) ? 'NOTICE' : 'NORMAL'
        var message = chattingInput.value;
        if (!message)
            return false;

        /* 관리자 공지사항 삭제 */
        // var target = chat_type  === "NOTICE" ? 'sendNoticeMessageToSvr' : 'sendMessageToSvr'
        // var target = 'sendMessageToSvr'; 
        socket.emit('sendMessageToSvr', {
            message,
            chat_type: "ADMIN",
            noticeType: noticeType
        });

        $(this).closest('.slide_wrap').find('.slide_back').addClass('closing');
        $(this).closest('.slide_wrap').find('.slide_box').addClass('closing');


        setTimeout(() => {
            chattingInput.value = '';
            $('.chatting_wrap').scrollTop($('.chatting_wrap .chatting_inner').outerHeight());
        }, 200);
    }

    function drawChatMessage(data) {
        var wrap = document.createElement('div');
        var nickName = document.createElement('strong');
        var message = document.createElement('span');
        var status = document.createElement('span');
        nickName.innerText = data.nickName;
        message.innerText = data.message;
        status.innerText = '답변하기';
        console.log(data.userId)
        if (data.userId == "ADMIN" || data.userId == "SUB_ADMIN") {
            wrap.classList.add('admin');
        } else if (data.chat_type == "QNA") {
            wrap.classList.add('myqna');
            status.classList.add('status');
            wrap.appendChild(status);
        }
        wrap.classList.add('chatting_item');
        nickName.classList.add('name');
        console.log(data);

        // 어드민 채팅 구분
        if (data.userId == 'admin_pk') {
            nickName.innerText = 'ADMIN';
            nickName.classList.add('admin');
        }

        // 시스템알림 구분
        if (data.noticeType == 'NOTICE') {
            wrap.classList.add('notice');
        }
        message.classList.add('text');
        wrap.dataset.id = socket.id;
        wrap.appendChild(nickName);
        wrap.appendChild(message);

        console.log(wrap);
        return wrap;
    }

</script>