<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

        <title>Document</title>
    </head>
    <body>
        <iframe style=" width:100%; height:100%;" id="iframe" src="http://localhost:5004/"></iframe>
    </body>
</html>
<script>
    window.addEventListener( 'message', (e) => {
        window[e.data.functionName](e.data.url);
    });

    function moveLivePrdt(aaa){

        alert(aaa+'moveLivePrdt');
    }

    function parentPressBack (){
        alert('뒤로가가');
    }   
     window.onload = function() {
      const frame = document.getElementById("iframe").contentWindow;
        frame.postMessage(
           {
            userId : '아이디입니다.',
            nickName : '닉네임 중대장'
           }, '*' );
    };
</script> 