<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image"
        content="https://iandna-contents.s3.ap-northeast-2.amazonaws.com/ivory/banner/share_kakao_img.png" />
    <link href="https://iandna-contents.s3.ap-northeast-2.amazonaws.com/ivory/font/pretendard/font.css"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/liveWatingBox.css" />
    <title>아라쇼 라이브방송 입니다.</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-211983524-1"></script>
</head>

<body>
    <img class="btn_play" src="/images/btn_play.png" />
    <div class="wrapper">
        <div class="background_content">
            <div id="beforeWaitingBox" class="before_waiting_box">

            </div>
            <!-- 영상, 이미지 위치 유튜브 위치 -->
            <!--<img id="live_preview" src="" alt="이미지 임시" />-->
            <img id="live_preview" src="" alt="이미지 임시" />
            <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
            <div id="on_live">
                <input id="streamUrl" type="hidden" value="" />

                <!-- <img src="/images/testonair.png" /> -->
                <input id="currentUrl" type="hidden" value="" />
                <video class="live_video" controlslist="nodownload" playsinline controls autoplay muted
                    id="video-player"></video>
                <video class="live_video" controlslist="nodownload" playsinline controls autoplay muted
                    id="video-player_ml" style="display: none"></video>
            </div>
        </div>
        <div class="inner_layout">
            <div id="hidden_toggler"></div>
            <!-- header -->
            <header>
                <h1 style="opacity:0;">
                    <a href="#"><img id="live_platform" src="" alt="아라쇼 라이브" /></a>
                </h1>
                <div class="title_box" data-hidden-item="false">
                    <a href="#" class="title_profile">
                        <img id="brand_ci" class="profile" src="" alt="라이브 프로필 이미지" />
                        <img class="live" src="/images/label_live.png" alt="라이브 방송" />
                    </a>
                    <a href="#" class="title_info">
                        <h2 id="live_title"></h2>
                        <div>
                            <span class="nickname" id="nickName"></span>
                            <span style="display: none" class="count_item">
                                <ion-icon name="play-outline"></ion-icon><span id="viewCount">0</span>
                            </span>
                            <span class="count_item">
                                <ion-icon name="heart-outline"></ion-icon><span id="lineCount">0</span>
                            </span>
                        </div>
                    </a>
                </div>
            </header>
            <div class="btn_group">
                <button data-hidden-item="false" class="btn_icon player play" type="button" id="onClickPlay">재생</button>
                <button data-hidden-item="false" class="btn_icon mute off" type="button" id="onClickMute">음소거</button>
                <button data-hidden-item="false" class="btn_icon share" type="button" id="onClickShare">공유</button>
                <!-- <button data-hidden-item="false" class="btn_icon setting" type="button" id="onClickSetting">설정</button> -->
                <button class="btn_icon close" type="button" onclick="backPress();" id="onClickClose">닫기</button>
            </div>

            <!-- before/after content -->
            <div class="before_item" hidden>
                <span class="before_waiting_box countdown">
                    <!-- soon 클래스 추가 시 텍스트 색상 강조 -->
                    <span id="countDown" class=""></span>
                    곧 라이브가 시작됩니다!
                </span>
                <input id="arashowStTm" type="hidden" value="" />
                <input id="arashowEndTm" type="hidden" value="" />
                <!--  <div class="alarm_box">
                  <button class="btn_alarm" type="button" id="onClickAlarm2"><span class="icon"></span>알림받기</button>
                  <div class="popup_item">
                      <i></i>
                      <span><strong>라이브 방송 알림</strong>을 설정하시면<br />라이브 진행 시 알림을 보내드려요.</span>
                  </div>
              </div>
              -->
            </div>

            <div class="after_item" hidden>
                <span class="text">라이브가 종료되었습니다.</span>
                <button class="btn_replay" type="button" onclick="backPress();" id="onClickReplay">앱으로 돌아가기</button>
                <!-- <a href="#" class="other_live">다른 라이브 보기</a> -->
            </div>

            <!-- tag item -->
            <div id="mainPrdt" class="tag_item" data-hidden-item="false">
                <a>
                    <div class="thumbnail"><img id="thumImg" src="/images/thumbnail_dummy.gif" alt="상품 썸네일" /></div>
                    <div class="tag_item_title" id="tagItemTitle"></div>
                    <div class="tag_item_price">
                        <span id="tagRate" class="rate"></span>
                        <strong id="tagPrice"></strong>
                    </div>
                </a>
            </div>

            <!-- bottom right button group -->
            <div class="bottom_btn_group" data-hidden-item="false">
                <div class="effect_wrap" id="heartContainer">
                    <div class="shadow" id="shadow"></div>
                    <img class="heart" id="bigHeart" src="/images/heart.png" alt="" />
                </div>
                <button type="button" class="buttom_btn like" id="onClickLike">좋아요</button>
                <button type="button" class="buttom_btn liveInfo" id="onClickPriavate">
                    질문
                    <span id="qna_count" class="badge hide" id="count"></span>
                </button>
                <button type="button" class="buttom_btn notice" id="onClickNotice">공지</button>
                <!-- <button type="button" class="buttom_btn coupon" id="onClickCoupon">쿠폰</button> -->
                <button type="button" class="buttom_btn comment" id="onClickComment">댓글쓰기</button>
                <button type="button" class="buttom_btn product" id="onClickProduct">
                    전체 상품
                    <span class="badge" id="count">0</span>
                </button>
            </div>

            <!-- chatting -->
            <!--<div class="welcome_userbox chatting_notice" id="chatting_notice" data-hidden-item="true">
                <div class="chatting_item">
                    <ion-icon name="log-in-outline"></ion-icon><span class="text"></span>
                </div>
            </div>-->

            <div class="chatting_wrap chatting_index" style="height: 36%" data-hidden-item="false">
                <div class="chatting_inner" id="chattingAdminList">
                    <div class="chatting_movebox" id="chattingList"></div>
                </div>
            </div>

            <!-- <div class="chatting_notice" id="chatting_notice_adm" data-hidden-item="true" style="display: none !important">
                    <div class="chatting_item"><ion-icon name="notifications-outline"></ion-icon><span class="text"></span></div>
                </div> -->

            <!-- 2022.04.05 notice wrap add -->
            <div class="chatting_notice chatting_notice_bottom" id="chattingNoticeBottom" data-hidden-item="false">
                <div class="chatting_item">
                    <ion-icon name="notifications-outline"></ion-icon>
                    <span class="text"></span>
                </div>
            </div>
            <!-- 2022.04.05 notice wrap add -->

            <!-- slide modal content: live info -->
            <div class="slide_wrap" id="slideModal_LiveInfo">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box" style="height: 30%">
                    <div class="slide_title">
                        <div class="tab_group">
                            <a href="#" data-tab-btn="1" class="tab_btn active">
                                <h3>라이브 공지</h3>
                            </a>
                            <!--
                        <a href="#" data-tab-btn="2" class="tab_btn">
                            <h3>라이브 소개</h3>
                        </a>-->
                        </div>
                        <button class="close onclickCloseSlide" type="button">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="slide_content active" data-tab="1" id="notice_list_wrap"></div>
                    <div class="slide_content" data-tab="2">
                        <h3>라이브 제품 설명</h3>
                        <div class="textbox">어드민에서 간략하게 상품 설명 넣어주면 사용할 예정</div>
                    </div>
                </div>
            </div>

            <!-- slide modal content: qna list -->
            <div class="slide_wrap" id="slideModal_coupon">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box" style="height: 30%">
                    <div class="slide_title">
                        <div class="tab_group">
                            <a href="#" data-tab-btn="1" class="tab_btn active">
                                <h3>쿠폰</h3>
                            </a>
                            <a href="#" data-tab-btn="2" class="tab_btn">
                                <h3>쿠폰 사용 주의사항</h3>
                            </a>
                        </div>
                        <button class="close onclickCloseSlide" type="button">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="slide_content active t_center" data-tab="1">
                        <ul class="coupon_list" id="couponList">
                            <!-- coupon -->
                            <li>
                                <img class="coupon_bg" src="/images/coupon_box.svg" alt="" />
                                <div class="coupon_info">
                                    <div class="coupon_detail">
                                        <div class="dc_rate">99.99% 할인</div>
                                        <div class="bottom">
                                            <div class="name">[아라쇼] 라이브 할인 쿠폰</div>
                                            <div class="period">발급일로부터 14일 이내</div>
                                        </div>
                                    </div>
                                    <button type="button" class="coupon_down">
                                        <img src="/images/coupon_download.svg" alt="" />
                                        <p>쿠폰 받기</p>
                                    </button>
                                </div>
                            </li>
                            <!-- coupon -->
                            <!-- coupon -->
                            <li>
                                <img class="coupon_bg" src="/images/coupon_box.svg" alt="" />
                                <div class="coupon_info">
                                    <div class="coupon_detail">
                                        <div class="dc_rate">99.99% 할인</div>
                                        <div class="bottom">
                                            <div class="name">[아라쇼] 라이브 할인 쿠폰</div>
                                            <div class="period">발급일로부터 14일 이내</div>
                                        </div>
                                    </div>
                                    <button type="button" class="coupon_down">
                                        <img src="/images/coupon_download.svg" alt="" />
                                        <p>쿠폰 받기</p>
                                    </button>
                                </div>
                            </li>
                            <!-- coupon -->
                            <!-- coupon -->
                            <li>
                                <img class="coupon_bg" src="/images/coupon_box.svg" alt="" />
                                <div class="coupon_info">
                                    <div class="coupon_detail">
                                        <div class="dc_rate">99.99% 할인</div>
                                        <div class="bottom">
                                            <div class="name">[아라쇼] 라이브 할인 쿠폰</div>
                                            <div class="period">발급일로부터 14일 이내</div>
                                        </div>
                                    </div>
                                    <button type="button" class="coupon_down">
                                        <img src="/images/coupon_download.svg" alt="" />
                                        <p>쿠폰 받기</p>
                                    </button>
                                </div>
                            </li>
                            <!-- coupon -->
                        </ul>
                    </div>
                    <div class="slide_content" data-tab="2">
                        <ul class="coupon_guide_list">
                            <li>쿠폰은 놓치지 마세요</li>
                            <li>쿠폰 먹지마세요 피부에 양보하세요</li>
                            <li>쿠폰 주의사항을 길게 써서 줄변경이 됐을때 어떻게 처리해야할지 확인을 할겁니다.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis omnis ducimus, earum
                                id fugiat tempore.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- slide modal content: qna list -->
            <div class="slide_wrap" id="slideModal_private_msg">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box" style="height: 30%">
                    <div class="slide_title">
                        <div class="tab_group">
                            <a href="#" data-tab-btn="2" class="tab_btn active">
                                <h3>자주하는 질문</h3>
                            </a>
                            <a href="#" data-tab-btn="1" class="tab_btn">
                                <h3>나의 문의내역</h3>
                            </a>
                        </div>
                        <button class="close onclickCloseSlide" type="button">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="slide_content t_center" data-tab="1" id="qna_list_wrap">
                        <h3 class="defaukt_text">나의 문의내역이 없습니다.</h3>
                        <div class="textbox_small t_center">1:1 문의채팅을 하시면</div>
                        <div class="textbox_small t_center">이곳에서 문의및 답변 내용을</div>
                        <div class="textbox_small t_center">확인하실 수 있습니다.</div>
                    </div>
                    <div class="slide_content active" data-tab="2" id="qnaPopList">
                        <h3 class="defaukt_text t_center">자주 하는 질문이 없습니다.</h3>
                        <div class="textbox_small t_center">관리자가 자주 하는 질문을 등록하면</div>
                        <div class="textbox_small t_center">이곳에서 질문 및 답변 내용을</div>
                        <div class="textbox_small t_center">확인하실 수 있습니다.</div>
                        <!-- <ul class="qna_pop_list" id="qna_pop_list_ul">
                                <li>
                                    <h3 class="defaukt_text t_center">자주 하는 질문이 없습니다.</h3>
                                    <div class="textbox_small t_center">관리자가 자주 하는 질문을 등록하면</div>
                                    <div class="textbox_small t_center">이곳에서 질문 및 답변 내용을</div>
                                    <div class="textbox_small t_center">확인하실 수 있습니다.</div>

                                </li>
                                <li class="qna_box">
                                    <div class="question">김밥에 단무지가 없으면 어떡하죠</div>
                                    <div class="answer">피부에 양보하세요.</div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">영국에서 시작된 편지를 받았다</div>
                                    <div class="answer">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio reiciendis earum facilis iste officiis expedita
                                        suscipit repudiandae! Aliquid, eligendi.
                                    </div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">qqqq</div>
                                    <div class="answer">aaaa</div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minus dolores asperiores cum repudiandae natus enim
                                        voluptatibus adipisci, harum maxime quo odio. Repellendus ut assumenda eum maxime quod rerum deleniti!
                                    </div>
                                    <div class="answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, pariatur?</div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">What is TMDB's API?</div>
                                    <div class="answer">
                                        The API service is for those of you interested in using our movie, TV show or actor images and/or data in your
                                        application. Our API is a system we provide for you and your team to programmatically fetch and use our data and/or
                                        images.
                                    </div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">What is the difference between a commercial API and a developer API?</div>
                                    <div class="answer">
                                        A commercial API is for commercial projects and a developer API is for developers. Your project is considered commercial
                                        if the primary purpose is to create revenue for the benefit of the owner.
                                    </div>
                                </li>
                                <li class="qna_box">
                                    <div class="question">What are the attribution requirements?</div>
                                    <div class="answer">
                                        You shall use the TMDB logo to identify your use of the TMDB APIs. You shall place the following notice prominently on
                                        your application: "This product uses the TMDB API but is not endorsed or certified by TMDB." Any use of the TMDB logo in
                                        your application shall be less prominent than the logo or mark that primarily describes the application and your use of
                                        the TMDB logo shall not imply any endorsement by TMDB. When attributing TMDB, the attribution must be within your
                                        application's "About" or "Credits" type section. When using a TMDB logo, we require you to use one of our approved
                                        logos.
                                    </div>
                                </li>
                            </ul> -->
                    </div>
                </div>
            </div>

            <!-- slide modal content: chatting -->
            <div class="slide_wrap" id="slideModal_Comment">
                <div class="slide_back white slideModalBackground"></div>

                <div class="slide_box chatting">
                    <div class="emoji">
                        <!-- ❤😂😂🤣❤😍👌😘😒😜💖🤷‍♀️🤦‍♂️😢🎶🤦‍♀️👍😎😉🙌😁🤞✌💕👏💋🌹🤳🐱‍🏍🐱‍👤🎂🎂👀😃✔🐱‍🚀🎁🤔😀😂😂😃😄😍😍🥰🥰🥰😗😗👩🧑👧👶👶👵❤❣💞💞 -->
                        <div class="emoji_item"><span>😎</span></div>
                        <div class="emoji_item"><span>👍</span></div>
                        <div class="emoji_item"><span>💖</span></div>
                        <div class="emoji_item"><span>😍</span></div>
                        <div class="emoji_item"><span>✌</span></div>
                        <div class="emoji_item"><span>🎁</span></div>
                        <div class="emoji_item"><span>🤣</span></div>
                        <div class="emoji_item"><span>😁</span></div>

                        <!--                             <div class="emoji_item"><img src="/images/imoticon/emoji-17.png" alt="" /></div> -->
                    </div>
                    <textarea style="resize: none" class="chatting_input" name="chattingInput" id="chattingInput"
                        cols="1" placeholder="실시간 채팅에 참여하세요"></textarea>
                    <button type="button" class="chatting_btn_qna" id="onClickChattingMode">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </button>
                    <button style="padding: 0 16px" type="submit" class="chatting_btn_submit"
                        id="onClickChattingSubmit">전송</button>
                </div>
            </div>

            <!-- slide modal content: product -->
            <div class="slide_wrap" id="slideModal_Product">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box">
                    <div class="slide_title product_title">
                        <div class="tab_group">
                            <h3>라이브에 소개된 상품</h3>
                        </div>
                        <button class="close onclickCloseSlide" type="button">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="slide_content product">
                        <ul id="prdtList" class="product_list"></ul>
                    </div>
                </div>
            </div>

            <!-- slide modal content: share -->
            <div class="slide_wrap" id="slideModal_Share">
                <div class="slide_back slideModalBackground"></div>
                <div class="slide_box share">
                    <div class="slide_title product_title">
                        <div class="tab_group">
                            <h3>공유하기</h3>
                        </div>
                        <button class="close onclickCloseSlide" type="button">
                            <ion-icon name="close-outline" role="img" class="md hydrated" aria-label="close outline">
                            </ion-icon>
                        </button>
                    </div>
                    <div class="slide_content share">
                        <div class="share_btn">
                            <button type="button" class="btn kakao" onclick="clickKakao();">카카오톡 공유</button>
                            <button type="button" class="btn url" onclick="copyUrl();">URL 공유</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- center popup -->
            <!-- <div class="center_popup">
          <div class="back" id="onClickClosePopupBack"></div>
          <div class="img_box">
              <img src="/images/sample/cp_sample.png" alt="" />
              <button type="button" id="onClickClosePopup" hidden><ion-icon name="close-outline"></ion-icon></button>
          </div>
      </div>-->
        </div>
        <div class="bottom_chating_bg"></div>
        <div class="bottom_chating_bg_top"></div>
    </div>
</body>

<script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-BPMGFK01BP"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- ionicon -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

<!-- ivs console -->
<script src="https://player.live-video.net/1.8.0/amazon-ivs-player.min.js"></script>

<!-- custom js -->

<script src="/javascripts/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/javascripts/share.js"></script>
<script src="/javascripts/heart.js"></script>
<script src="/javascripts/cm.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

</html>
<!-- <script src="/node_modules/socket.io/socket.io.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script>
    var chattingList = document.getElementById("chattingList");
    var chattingAdminList = document.getElementById("chattingAdminList");

    var sendButton = document.getElementById("onClickChattingSubmit");
    var arashowCountTimer = 0; // 아라쇼 남은시간 타이머
    var timer = 0; // 아라쇼 방송 체크
    var liveInfo, socket, SVR_URL;
    var liveGbnCd = 'A';
    $(document).ready(function () {
        SVR_URL = "<%= process.env.SVR_URL %>";

        const userId = new URLSearchParams(location.search).get("userId");
        const nickName = new URLSearchParams(location.search).get("nickName");
        var seqNo = new URLSearchParams(location.search).get("seq_no");

        createChatingRoom(userId, nickName);
        getProdtInfo(seqNo);
        // getArashowInfo(seqNo);

        getArashowInfo();
        timer = setInterval(getArashowInfo, 15000);
        document.getElementById("nickName").innerHTML = nickName;

        getQnaList(seqNo);

        setInterval(() => {

            getQnaList(seqNo);
        }, 30000)

        document.addEventListener('visibilitychange', handleVisibilityChange);
    });

    const handleVisibilityChange = () => {
        if (document.hidden) {
            playerObj.ivsplayer.pause();
        } else {
            setTimeout(() => {
                playerObj.ivsplayer.play();
            }, 800);
        }
    };

    function createChatingRoom(userId, nickName) {
        var isFirstChat = getCookie("first_mute") != "N" ? true : false;
        if (isFirstChat) {
            setCookie("first_mute", "N", 354);
            var img = document.createElement("img");
            img.src = "/images/img_mute_off.png";
            img.classList.add("img_mute_off");
            img.onclick = () => {
                $(img).remove();
            };
            $(".btn_group").append(img);
        }

        var checkForceDisconnect = [];

        var disconnectList = () => {
            forceDisconnectList().then((response) => {
                checkForceDisconnect = response;

                if (checkForceDisconnect.find((element) => element == '"' + userId + '"')) {
                    console.log(userId);
                    alert("강제퇴장 이력으로 인하여 채팅이 불가능합니다.");
                    $("#chattingInput").attr("disabled", true);
                    $("#chattingInput").attr("placeholder", "강제퇴장 이력으로 인하여 채팅이 불가능합니다.");
                    return;
                }
            });
        };

        disconnectList();

        var nd_env = "<%= process.env.NODE_ENV %>";
        if (nd_env === "local") {
            socket = io();
        } else {
            socket = io("https://i-vorylive.net", { transports: ["websocket"] });
        }
        /*[listen] Chatting Server connection completed */
        socket.on("connect", function () {
            var _userId = userId == undefined || userId == "" ? "guest" : userId;
            /* if have nickname replace with userId*/
            var _nickName;
            if (_userId != "guest" && nickName == "") {
                _nickName = _userId;
            } else {
                _nickName = nickName == undefined || nickName == "" ? "guest" : nickName;
            }
            var _clientId = socket.id;

            socket.userId = _userId;
            socket.nickName = _nickName;

            /*[broadcast] Im in */
            socket.emit("newUserConnect", {
                userId: _userId,
                nickName: _nickName,
                clientId: _clientId,
            });
        });

        /*[listen] update New user access welcome message */
        var welcomTImer = 6;
        var wcTimer = setInterval(wcTimerFc, 1000);
        function wcTimerFc() {
            welcomTImer = welcomTImer - 1;
            // console.log(welcomTImer);

            if (welcomTImer <= 0) {
                // $("#chatting_notice").attr("data-hidden-item", true);
                clearInterval(wcTimer);
            }
        }
        socket.on("updateWelcomeMessage", (data) => {
            // if (welcomTImer <= 0) {
            //     welcomTImer = 6;
            //     $("#chatting_notice").attr("data-hidden-item", false);
            //     clearInterval(wcTimer);
            //     wcTimer = setInterval(wcTimerFc, 1000);
            // } else {
            //     welcomTImer = 6;
            // }
            // /* already show return */
            // if ($("#chatting_notice").attr("data-hidden-item") == false) {
            //     console.log("retun1111");
            //     return;
            // } else {
            //     if (data.userId.indexOf("admin") === -1 || data.userId.toString() !== 'guest') {
            //         $("#chatting_notice").attr("data-hidden-item", false);
            //         $("#chatting_notice").find("span.text").text(data.message);
            //     }
            //     // setTimeout(() => {
            //     // $('#chatting_notice').attr('data-hidden-item', true);
            //     //}, 15000);
            // }
        });

      // var welcomeTimer = 6;
      // var wcTimer = null;
      //
      // function resetWelcomeTimer() {
      //     if (wcTimer !== null) {
      //         clearInterval(wcTimer);
      //     }
      //     welcomeTimer = 6;
      //     $("#chatting_notice").attr("data-hidden-item", false);
      //     wcTimer = setInterval(wcTimerFc, 1000);
      // }
      //
      // function wcTimerFc() {
      //     welcomeTimer -= 1;
      //     if (welcomeTimer <= 0) {
      //         $("#chatting_notice").attr("data-hidden-item", true);
      //         clearInterval(wcTimer);
      //         wcTimer = null;
      //     }
      // }
      //
      // socket.on("updateWelcomeMessage", (data) => {
      //     // 중복 실행 방지 및 리셋 로직 최적화
      //     resetWelcomeTimer();
      //
      //     if ($("#chatting_notice").attr("data-hidden-item") == "false") {
      //         if (data.userId.indexOf("admin") == -1) {
      //             $("#chatting_notice").find("span.text").text(data.message);
      //         }
      //     }
      // });

        /*[listen] update admin message */
        socket.on("updateAdminMessage", (data) => {
            $("#chatting_notice_adm").attr("data-hidden-item", false);
            $("#chatting_notice_adm").find("span.text").text(data.message);
            setTimeout(() => {
                $("#chatting_notice_adm").attr("data-hidden-item", true);
            }, 4000);
        });

        /*[listen] update private message from admin */
        socket.on("updatePrivateMessage", (data) => {
            let type = data.private_type;
            let message = data.message;
            let myMessage = data.clientMessage;
            let userId = data.userId;
            if (type == "QNA_REPLY") {
                /* first return message by admin */
                if ($("#qna_count").hasClass("hide")) {
                    /* show return count tag*/
                    $("#qna_count").removeClass("hide");
                    /* remove default description message*/
                    $("#qna_list_wrap").empty();
                }

                var count = $("#qna_count").text();
                count = count.length == 0 ? "0" : count;
                count = parseInt(count);
                count = ++count;
                $("#qna_count").text(count + "");
                $("#qna_list_wrap").append("<h3>내 질문 : " + myMessage + "</h3>");
                $("#qna_list_wrap").append('<div class="textbox">답변 : ' + message + "</div>");
                alert(`관리자님의 문의 응답이 도착하였습니다.\n${message}`);
                $("#onClickPriavate").trigger("click");
            } else if (type == "FORCE_DISCONNECT") {
                console.log("강퇴");
                socket.disconnect();
                var result = confirm(`운영자에 의해 강제 퇴장당하셨습니다.`);

                //         setCookie('force_out_yn', 'Y' , 354);
                //         setRedisList('forceDisconnectList', userId).then(function(result){
                //               });

                location.reload();
            }
        });

        /*[listen] update messages from users */
        socket.on("updateMessageToClient", (data) => {
            console.log('권한권한', data);
            var chatMessageEl = drawChatMessage(data);

            const currentUserId = new URLSearchParams(location.search).get("userId");

            if (data.chat_type == "ADMIN" || data.chat_type == "SUB_ADMIN") {
                if (data.noticeType === "NORMAL") {
                    chattingList.appendChild(chatMessageEl);
                } else if (data.noticeType === "NOTICE") {
                    // chattingAdminList.appendChild(chatMessageEl);
                    var noticeWrap = $("#chattingNoticeBottom");
                    noticeWrap.find(".text").text(data.message);
                    // noticeWrap.attr("data-hidden-item", false);
                    noticeWrap.css("display", "flex");
                    $(".chatting_wrap").css("margin-bottom", "60px");
                    $(".welcome_userbox").css("margin-bottom", "60px");
                }
            } else if (data.private_type === "FORCE_DISCONNECT") {
                $("." + data.userId).remove();
            } else {
                if (data.chat_type == "QNA") {
                    if (data.userId == currentUserId) {
                        chattingList.appendChild(chatMessageEl);
                    }
                } else {
                    chattingList.appendChild(chatMessageEl);
                }
            }

            setTimeout(() => {
                $(".chatting_wrap").scrollTop($(".chatting_wrap")[0].scrollHeight);
                // GLOBAL.FUCNTION.fixedScrollBottomAdm();
                GLOBAL.FUCNTION.fixedScrollBottomMovebox($("#chattingAdminList"));
            }, 200);
        });

        socket.on("sendForceDisconnectToClient", function (data) {
            data.userId = data.data.userId;
            var chatMessageEl = drawChatMessage(data);

            $("." + data.userId).remove();

            setTimeout(() => {
                $(".chatting_wrap").scrollTop($(".chatting_wrap")[0].scrollHeight);
                // GLOBAL.FUCNTION.fixedScrollBottomAdm();
                GLOBAL.FUCNTION.fixedScrollBottomMovebox($("#chattingAdminList"));
            }, 200);
        });

        /*[listen] update Real-time change information (like, viewpage, nickname) */
        socket.on("updateRealData", (data) => {
            // console.log(data);
            var intLikeCnt = parseInt(data.likeCount);
            var strLikeCnt = intLikeCnt.toLocaleString("ko-KR");

            if (parseInt($("#lineCount").text().replace(/,/gi, "")) < intLikeCnt) {
                $("#lineCount").text(strLikeCnt);
            }

            var intViewCnt = parseInt(data.viewCount);
            var strViewCnt = intViewCnt.toLocaleString("ko-KR");
            $("#viewCount").text(strViewCnt);

            // var nickName = data.nickName;
            // $('#nickName').text(nickName + '님');
        });

        /* [listen] Real-time change information (like) */
        socket.on("updateLikeCount", (data) => {
            //console.log(data);
            //console.log(parseInt($('#lineCount').text().replace(/,/gi, '')));
            var intLikeCnt = parseInt(data.likeCount);
            var strLikeCnt = intLikeCnt.toLocaleString("ko-KR");

            if (parseInt($("#lineCount").text().replace(/,/gi, "")) < intLikeCnt) {
                $("#lineCount").text(strLikeCnt);
            }
            // animateHeart();
        });
    }

    /* press enter */
    $("#chattingInput").keypress((event) => {
        if (event.which == 13 && event.shiftKey) {
        } else if (event.which == 13) {
            event.preventDefault();
            sendMessageToSvr(chattingInput);
        }
    });

    sendButton.addEventListener("click", () => {
        sendMessageToSvr(chattingInput);
    });

    function tryRunApp() {
        var seqNo = new URLSearchParams(location.search).get("seq_no");
        var url = "/shop/liveView.do?seq_no=" + seqNo;

        var targetUrl = "";
        if (isAndroidDevice()) {
            targetUrl = "Intent://data?innerPageUrl=" + url + "#Intent;scheme=ivory;end";
        } else {
            targetUrl = "appNYBB://innerPageUrl=" + url;
        }
        location.href = targetUrl;
    }

    function sendMessageToSvr(chattingInput) {
        if (!loginChk()) {
            var result = confirm("비회원은 채팅 참여가 불가능합니다. 앱 다운로드를 실행하시겠습니까?.");
            if (result) {
                tryRunApp();
                setTimeout(() => {
                    if (isAndroidDevice()) {
                        window.location.href = "https://play.google.com/store/apps/details?id=com.namyang.bebe";
                    } else {
                        window.location.href = "https://itunes.apple.com/kr/app/id1113295590";
                    }
                }, 500);
            }
            return;
        }

        var chat_type = $("#onClickChattingMode").hasClass("active") ? "QNA" : "NORMAL";
        var message = chattingInput.value;
        if (!message) return false;

        var chatSeq = "chatSeq" + Math.random().toString(36).substr(2, 16);
        /*[broadcast] send to everyone */
        socket.emit("sendMessageToSvr", {
            message,
            chat_type,
            noticeType: "",
            chatSeq: chatSeq
        });

        $(this).closest(".slide_wrap").find(".slide_back").addClass("closing");
        $(this).closest(".slide_wrap").find(".slide_box").addClass("closing");
        $(".tag_item").attr("data-hidden-item", false);
        $(".bottom_btn_group").attr("data-hidden-item", false);
        $("#chatting_notice").css({ bottom: "260px", "z-index": 101 });
        $("#chatting_notice_adm").css({ bottom: "260px", "z-index": 101 });
        $(".chatting_wrap").css({ bottom: "90px", "z-index": 101 });
        $("#chattingNoticeBottom").css({ bottom: "90px", "z-index": 101 });
        $("#slideModal_Comment").removeClass("active");

        setTimeout(() => {
            GLOBAL.FUCNTION.fixedScrollBottomMovebox($("#chattingAdminList"));
            chattingInput.value = "";
            chattingInput.blur();
        }, 200);
    }

    function drawChatMessage(data) {
        var wrap = document.createElement("div");
        var nickName = document.createElement("strong");
        var message = document.createElement("span");
        nickName.innerText = data.nickName;
        message.innerText = data.message;
        var userId = data.userId;
        var private_type = data.private_type;

        if (data.chat_type == "ADMIN" || data.chat_type == "SUB_ADMIN") {
            if (data.noticeType === "NORMAL") {
                wrap.classList.add("admin_normal_chat");
            } else if (data.noticeType === "NOTICE") {
                $(".chatting_inner").find(".admin_notice_chat").remove();
                wrap.classList.add("admin");
                wrap.classList.add("admin_notice_chat");
                $(chattingList).css("margin-bottom", "52px");
                $(wrap).click(function (e) {
                    GLOBAL.FUCNTION.showAdminNotice();
                });
            }
        } else if (data.chat_type == "QNA") {
            wrap.classList.add("myqna");
        }

        wrap.classList.add("chatting_item");
        nickName.classList.add("name");
        message.classList.add("text");
        wrap.dataset.id = socket.id;

        // if (data.chat_type == "ADMIN" || data.chat_type == "SUB_ADMIN") {
        if (data.permission === 'provider') {

            // if (data.auth === "SUB_ADMIN") {
            $(nickName).css('color', '#EAF9F7');
            $(message).css('color', '#' + data.textColor);
            // }
            wrap.appendChild(nickName);
        } else {
            wrap.appendChild(nickName);
        }

        wrap.appendChild(message);
        return wrap;
    }

    async function getQnaList(seqNo) {
        let response = await fetch(`https://i-vory.net/gateway/live/qnalist.json?liveSeqNo=${seqNo}`, mkParam());
        let resJson = await response.json();
        let html = "";

        let { qnaList } = resJson;

        if (qnaList.length == 0) {
            return;
        } else {
            $("#qnaPopList").empty();

            if (liveGbnCd == 'J') {
                html = '<ul class="qna_pop_list jellyview" id="qna_pop_list_ul">';
            } else {
                html = '<ul class="qna_pop_list" id="qna_pop_list_ul">';
            }

            for (let i in qnaList) {
                html += '<li class="qna_box">';
                html += '<div class="question">';
                html += qnaList[i].qnaQuestion;
                html += "</div>";
                html += '<div class="answer">';
                html += qnaList[i].qnaAnswer;
                html += "</div>";
                html += "</li>";
            }

            html += "</ul>";

            $("#qnaPopList").append(html);
        }
    }
</script>
<script>
  (function(h,o,u,n,d) {
    h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    d=o.createElement(u);d.async=1;d.src=n
    n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
  })(window,document,'script','https://www.datadoghq-browser-agent.com/us1/v5/datadog-rum.js','DD_RUM')
  window.DD_RUM.onReady(function() {
    window.DD_RUM.init({
      clientToken: 'pub58d238c6451819310833f5cbf46ca93d',
      applicationId: '0c597656-e823-43f9-ad09-86ee50d1bebb',
      // `site` refers to the Datadog site parameter of your organization
      // see https://docs.datadoghq.com/getting_started/site/
      site: 'datadoghq.com',
      service: '라이브커머스',
      env: 'prod',
      // Specify a version number to identify the deployed version of your application in Datadog
      // version: '1.0.0',
      sessionSampleRate: 100,
      sessionReplaySampleRate: 100,
      trackUserInteractions: true,
      trackResources: true,
      trackLongTasks: true,
      defaultPrivacyLevel: 'mask-user-input',
    });
    const userId = new URLSearchParams(location.search).get("nickName");
    window.DD_RUM.setUser({id:userId});      
  })
</script>






