<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <title>아라쇼 라이브방송 입니다.</title>
    </head>
    <body>

        <div class="wrapper">
            <div class="background_content">
                <!-- 영상, 이미지 위치 유튜브 위치 -->
                <!--<img id="live_preview" src="" alt="이미지 임시" />-->
                <div id="on_live">
                   
                   <img id="live_preview" src="" alt="이미지 임시" />
                </div>

            </div>
            <div class="inner_layout">
                <div id="hidden_toggler"></div>
                <!-- header -->
                <header>
                    <h1>
                        <a href="#"><img src="/images/logo.png" alt="아라쇼 라이브" /></a>
                    </h1>
                    <div class="title_box" data-hidden-item="false">
                        <a href="#" class="title_profile">
                            <img id="brand_ci" class="profile" src="" alt="라이브 프로필 이미지" />
                            <img class="live" src="/images/label_live.png" alt="라이브 방송" />
                        </a>
                        <a href="#" class="title_info">
                            <h2 id="live_title"></h2>
                            <div>
                                <span class="nickname" id="nickName"> 님</span>
                                <span class="count_item"><ion-icon name="play-outline"></ion-icon><span id="viewCount">333,333</span></span>
                                <span class="count_item"><ion-icon name="heart-outline"></ion-icon><span id="lineCount">0</span></span>
                            </div>
                        </a>
                    </div>
                </header>
                <div class="btn_group">
                    <!-- <button data-hidden-item="false" class="btn_icon alarm" type="button" id="onClickAlarm">알람설정</button> -->
                    <!-- <button data-hidden-item="false" class="btn_icon mute on" type="button" id="onClickMute">음소거</button> -->
                    <button data-hidden-item="false" class="btn_icon share" type="button" id="onClickShare">공유</button>
                    <!-- <button data-hidden-item="false" class="btn_icon setting" type="button" id="onClickSetting">설정</button> -->
                    <button class="btn_icon close" type="button" id="onClickClose">닫기</button>
                </div>

                <!-- before/after content -->
                <div class="before_item" hidden>
                    <span class="countdown">
                        <!-- soon 클래스 추가 시 텍스트 색상 강조 -->
                        <span id="countDown" class=""></span>
                        곧 라이브가 시작됩니다!
                    </span>
                    <input id="arashowStTm" type="hidden" value=""/>
                    <input id="arashowEndTm" type="hidden" value=""/>
                    <div class="alarm_box">
                        <button class="btn_alarm" type="button" id="onClickAlarm2"><span class="icon"></span>알림받기</button>
                        <div class="popup_item">
                            <i></i>
                            <span><strong>라이브 방송 알림</strong>을 설정하시면<br />라이브 진행 시 알림을 보내드려요.</span>
                        </div>
                    </div>
                </div>

                <div class="after_item" >
                    <span class="text">라이브가 종료되었습니다.</span>
                    <button class="btn_replay" type="button" id="onClickReplay">앱으로 돌아가기 </button>
                    <!-- <a href="#" class="other_live">다른 라이브 보기</a> -->
                </div>

                <!-- tag item -->
                <div class="tag_item" data-hidden-item="false">
                    <a href="#">
                        <div class="thumbnail"><img id="thumImg" src="https://placeimg.com/64/64/any" alt="상품 썸네일" /></div>
                        <div class="tag_item_title" id="tagItemTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, iusto.</div>
                        <div class="tag_item_price">
                            <span class="rate">10%</span>
                            100,000,000원
                        </div>
                    </a>
                </div>

                <!-- bottom right button group -->
                <div class="bottom_btn_group" data-hidden-item="false">
                    <div class="effect_wrap" id="heartContainer">
                        <div class="shadow" id="shadow"></div>
                        <img class="heart" id="bigHeart" src="/images/heart.png" alt="" />
                    </div>
                    <button type="button" class="buttom_btn like" id="onClickLike">좋아요</button>
                    <!-- <button type="button" class="buttom_btn liveInfo" id="onClickLiveInfo">질문</button> -->
                    <button type="button" class="buttom_btn comment" id="onClickComment">댓글쓰기</button>
                    <button type="button" class="buttom_btn product" id="onClickProduct">
                        전체 상품
                        <span class="badge" id="count">9</span>
                    </button>
                </div>

                <!-- chatting -->
                <div class="chatting_notice" data-hidden-item="true">
                    <div class="chatting_item"><ion-icon name="pricetag-outline"></ion-icon><span class="text"></span></div>
                </div>
                <div class="chatting_wrap" data-hidden-item="false">
                    <div class="chatting_inner" style="height: 337px">
                        <div class="chatting_movebox" id="chattingList">
                        </div>
                    </div>
                </div>

                <!-- slide modal content: live info -->
                <div class="slide_wrap" id="slideModal_LiveInfo">
                    <div class="slide_back slideModalBackground"></div>
                    <div class="slide_box">
                        <div class="slide_title">
                            <div class="tab_group">
                                <a href="#" data-tab-btn="1" class="tab_btn active">
                                    <h3>라이브 소개</h3>
                                </a>
                                <a href="#" data-tab-btn="2" class="tab_btn">
                                    <h3>라이브 공지</h3>
                                </a>
                            </div>
                            <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline"></ion-icon></button>
                        </div>
                        <div class="slide_content active" data-tab="1">
                            <h3>상품 간략 설명</h3>
                            <div class="textbox">
                              설명은 간략하게 내용은 간결하게
                            </div>
                            <h3>상품 고지사항</h3>
                            <div class="textbox">
                              고지는 간략하게 내용은 간력하게
                            </div>
                        </div>
                        <div class="slide_content" data-tab="2">
                          <h3>공지사항1</h3>
                          <div class="textbox">
                            공지1는 간략하게 내용은 간결하게
                          </div>
                          <h3>공지사항2</h3>
                          <div class="textbox">
                            공지2는 간략하게 내용은 간력하게
                          </div>
                        </div>
                    </div>
                </div>

                <!-- slide modal content: chatting -->
                <div class="slide_wrap" id="slideModal_Comment">
                    <div class="slide_back white slideModalBackground"></div>

                    <div class="slide_box chatting">
                        <div class="emoji">
                          <!-- ❤😂😂🤣❤😍👌😘😒😜💖🤷‍♀️🤦‍♂️😢🎶🤦‍♀️👍😎😉🙌😁🤞✌💕👏💋🌹🤳🐱‍🏍🐱‍👤🎂🎂👀😃✔🐱‍🚀🎁🤔😀😂😂😃😄😍😍🥰🥰🥰😗😗👩🧑👧👶👶👵❤❣💞💞 -->
                            <div class="emoji_item"><span>😎</span></div>
                            <div class="emoji_item"><span>👍</span></div>
                            <div class="emoji_item"><span>💖</span></div>
                            <div class="emoji_item"><span>😍</span></div>
                            <div class="emoji_item"><span>✌</span></div>
                            <div class="emoji_item"><span>🎁</span></div>
                            <div class="emoji_item"><span>🤣</span></div>
                            <div class="emoji_item"><span>😁</span></div>

<!--                             <div class="emoji_item"><img src="/images/imoticon/emoji-17.png" alt="" /></div> -->
                        </div>
                        <textarea  style="resize: none;" class="chatting_input" name="chattingInput" id="chattingInput" cols="1" placeholder="실시간 채팅에 참여하세요"></textarea>
                        <button type="button" class="chatting_btn_qna" id="onClickChattingMode"><ion-icon name="chatbubbles-outline"></ion-icon></button>
                        <button type="submit" class="chatting_btn_submit" id="onClickChattingSubmit">전송</button>
                    </div>
                </div>

                <!-- slide modal content: product -->
                <div class="slide_wrap" id="slideModal_Product">
                    <div class="slide_back slideModalBackground"></div>
                    <div class="slide_box">
                        <div class="slide_title product_title">
                            <div class="tab_group">
                                <h3>라이브에 소개된 상품</h3>
                            </div>
                            <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline"></ion-icon></button>
                        </div>
                        <div class="slide_content product">
                            <ul class="product_list">
                                <li>
                                    <div class="thumbnail">
                                        <img src="https://placeimg.com/128/128/any" alt="상품이름" />
                                    </div>
                                    <a href="#" target="_blank" class="product_info">
                                        <strong class="name">비싼 상품</strong>
                                        <span class="price">
                                            <span class="rate">30%</span>
                                            <strong>999,000</strong>원
                                        </span>
                                        <span class="dc"> 최대 할인가 <strong>999,000</strong>원 </span>
                                        <span class="store">삼성전자</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="https://placeimg.com/128/128/any" alt="상품이름" />
                                    </div>
                                    <a href="#" target="_blank" class="product_info">
                                        <strong class="name">비싼 상품</strong>
                                        <span class="price">
                                            <span class="rate">30%</span>
                                            <strong>999,000</strong>원
                                        </span>
                                        <span class="dc"> 최대 할인가 <strong>999,000</strong>원 </span>
                                        <span class="store">삼성전자</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="https://placeimg.com/128/128/any" alt="상품이름" />
                                    </div>
                                    <a href="#" target="_blank" class="product_info">
                                        <strong class="name">비싼 상품</strong>
                                        <span class="price">
                                            <span class="rate">30%</span>
                                            <strong>999,000</strong>원
                                        </span>
                                        <span class="dc"> 최대 할인가 <strong>999,000</strong>원 </span>
                                        <span class="store">삼성전자</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="https://placeimg.com/128/128/any" alt="상품이름" />
                                    </div>
                                    <a href="#" target="_blank" class="product_info">
                                        <strong class="name">비싼 상품</strong>
                                        <span class="price">
                                            <span class="rate">30%</span>
                                            <strong>999,000</strong>원
                                        </span>
                                        <span class="store">삼성전자</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="https://placeimg.com/128/128/any" alt="상품이름" />
                                    </div>
                                    <a href="#" target="_blank" class="product_info">
                                        <strong class="name">이름이매우길고띄어쓰기가없는상품같지도않은상품</strong>
                                        <span class="price">
                                            <span class="rate">30%</span>
                                            <strong>999,000</strong>원
                                        </span>
                                        <span class="dc"> 최대 할인가 <strong>999,000</strong>원 </span>
                                        <span class="store">삼성전자</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- slide modal content: share -->
                <div class="slide_wrap" id="slideModal_Share">
                  <div class="slide_back slideModalBackground"></div>
                  <div class="slide_box share">
                      <div class="slide_title product_title">
                          <div class="tab_group">
                              <h3>공유하기</h3>
                          </div>
                          <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline" role="img" class="md hydrated" aria-label="close outline"></ion-icon></button>
                      </div>
                      <div class="slide_content share">
                          <div class="share_btn">
                              <button type="button" class="btn kakao" onclick="shareKakao();">카카오톡 공유</button>
                              <button type="button" class="btn url" onclick="copyUrl();">URL 공유</button>
                          </div>
                      </div>
                  </div>
              </div>

                <!-- center popup -->
                <!-- <div class="center_popup">
                  <div class="back" id="onClickClosePopupBack"></div>
                  <div class="img_box">
                      <img src="/images/sample/cp_sample.png" alt="" />
                      <button type="button" id="onClickClosePopup" hidden><ion-icon name="close-outline"></ion-icon></button>
                  </div>
              </div>-->
            </div>
        </div>
    </body>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

    <!-- custom js -->

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/share.js"></script>
    <script src="/javascripts/heart.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

</html>
<script src="/socket.io/socket.io.js"></script>
<script>

  let userId = '';
  var parentUserId = "";
  var parentNickName = "";
  var chattingList = document.getElementById('chattingList');
  var sendButton = document.getElementById('onClickChattingSubmit');
  var arashowCountTimer = 0; // 아라쇼 남은시간 타이머
  var timer = 0; // 아라쇼 방송 체크

  window.addEventListener('message', function(e) {
    alert('ofr,a');
    console.log(e.origin);
    console.log(e.data);
    if(!e.origin.includes('i-vory.net')){
        parentUserId = e.data.userId;
        parentNickName = e.data.nickName;
    }
  });

  var socket = io();
  socket.on('updateSystemMessage',(data)=>{
    $('.chatting_notice').attr('data-hidden-item', false);
    $('.chatting_notice').find('span.text').text(data.message);
    setTimeout(() => {
    $('.chatting_notice').attr('data-hidden-item', true);
    }, 4000);
  });

  $( document ).ready(function() {
    /* sample code */
    setTimeout(() => {
        var chat_type = 'NOTICE';
        var message = '24명이 상품을 구매 중..'
        socket.emit('sendMessage', {
            message,
            chat_type
        });
    }, 10000);
    alert('ready');
    getArashowInfo();
    getProdtInfo();

  });


  async function getArashowInfo(){

    const result = await fetch('/gettest');
    var res = await result.json();
    console.log(res);
    let {live, live_info, brand_info, brn_info, prdt_info } = res;
    /* live info */
    $('#live_title').text(live.LIVE_SBJ);
    $('#live_preview').attr('src', live.IMG_URL);

    /* brand info */
    $('#brand_ci').attr('src', brand_info.brd_img_url);

    var liveStart = new Date(formatChange(live.LIVE_ST_DT, live.LIVE_ST_TM));
    var liveEnd = new Date(formatChange(live.LIVE_END_DT, live.LIVE_END_TM));

    $('#arashowStTm').val(liveStart);
    $('#arashowEndTm').val(liveEnd);
    arashowTimer();
    timer = setInterval(arashowTimer, 30000);
  }

  function arashowTimer() {
    let today = new Date();
    var liveStart = new Date($('#arashowStTm').val());
    var liveEnd = new Date($('#arashowEndTm').val());

    console.log("timer");

    /* live show pendding */
    if(today < liveStart){
      $('.before_item').attr('hidden', false);
      $('.after_item').attr('hidden', true);
      // 아라쇼 남은시간 카운트 다운 타이머 시작
      if(arashowCountTimer == 0) {
        arashowCountTimer = setInterval(startArashowCountTimer, 1000);
      }
    }
    /* live ing .*/
    else if (today > liveStart &&  today < liveEnd){
      $('.before_item').attr('hidden', true);
      $('.after_item').attr('hidden', true);
      clearInterval(arashowCountTimer);
        setInterval(() => {
          // 아라쇼 입장하기

        }, 30000);
    }
    /* live end */
    else{
      $('.before_item').attr('hidden', true);
      $('.after_item').attr('hidden', false);
      clearInterval(timer);
    }
  }

  function formatChange(dateStr, timeStr){
    var year = dateStr.substr(0,4);
    var month = dateStr.substr(4,2);
    var day = dateStr.substr(6,2);

    var hour = timeStr.substr(0,2);
    var min = timeStr.substr(2,2);
    var sec = timeStr.substr(4,2);
    return year + "-" + month + "-" + day + "T" + hour + ":" + min + ":" + sec;
  }

  function updateReatimeData() {
    const namespace = io('/updateReatimeData');
      // news라는 이벤트를 받을 시 콘솔에 data.hello를 출력
      namespace.on('updateNews', (data) => {
      console.log(data.hello);
    });
  }

  function loginChk(){
    if(parentUserId == undefined || parentUserId.length ==0){
        return false;
    } else {
        return true;
    }
  }

  socket.on('connect', function () {
    /* If the app is not connected */
    if(!loginChk()){
        parentUserId = "";
        parentNickName = "손님";
    }
    //  userId = prompt('이름입력 (아이보리 닉네임으로 대체 예정).', '');
    nickName = '중대장';
    socket.emit('newUserConnect', {
        userId:parentUserId,
        nickName:parentNickName
    });
  });

  socket.on('updateReplyMessage',(data)=>{
    
    if(data.data.userId == parentUserId){
      alert(`관리자에게 답변이 도착하였ㅅ ${ data.data.userId} `);
    } else {
      alert('다릅니다');
    }
  });
  socket.on('updateMessageToClient',(data)=>{
     /* 관리자 채팅, QNA 채팅, 일반 채팅 3가지 종류의 채팅만 사용 */
     var chatMessageEl = drawChatMessage(data);
     chattingList.appendChild(chatMessageEl);
     setTimeout(() => {
        GLOBAL.FUCNTION.fixedScrollBottom();
     }, 200);
  });

  socket.on('updateRealData',(data)=>{
    var intLikeCnt = parseInt(data.likeCount);
    var strLikeCnt = intLikeCnt.toLocaleString('ko-KR');
    $('#lineCount').text(strLikeCnt);

    var intViewCnt = parseInt(data.viewCount);
    var strViewCnt = intViewCnt.toLocaleString('ko-KR');
    $('#viewCount').text(strViewCnt);

    var nickName = data.nickName;
    $('#nickName').text(nickName + '님');
  });

  socket.on('receiveReplyFromSvr',(data)=>{
    let userId = data.userId;
    if(socket.userId == userId){
        alert('메시지가 왔습니다.');
    }
  });

  socket.on('receiveReplyFromSvr',(data)=>{
    let userId = data.userId;
    if(socket.userId == userId){
        alert('메시지가 왔습니다.');
    }
  });

  sendButton.addEventListener('click', () => {
    // socket.emit('replyToSvr', {
    //   message : '1:1문의 답변입니다.',
    //   name : 'AAAA',
    // });

    sendMessageToSvr(chattingInput);
  });
  function sendMessageToSvr(chattingInput){
    var chat_type = ($('#onClickChattingMode').hasClass('active')) ? 'QNA' : 'NORMAL'
    var message = chattingInput.value;
    if (!message)
      return false;

    socket.emit('sendMessageToSvr', {
      message,
      chat_type
    });

    if(chat_type === "QNA"){
      const qnaNamespace = io('/qnaNamespace' );
      setTimeout(() => {
        qnaNamespace.on('sendQnaMessageToSvr', {
          parentUserId,
          parentNickName
        });
      }, 2000);
    }

    $(this).closest('.slide_wrap').find('.slide_back').addClass('closing');
    $(this).closest('.slide_wrap').find('.slide_box').addClass('closing');
    $('.tag_item').attr('data-hidden-item', false);
    $('.bottom_btn_group').attr('data-hidden-item', false);
    $('.chatting_wrap').css({ bottom: '90px', 'z-index': 101 });
    $('.chatting_notice').css({ bottom: '260px', 'z-index': 101 });
    $('#slideModal_Comment').removeClass('active');
    GLOBAL.FUCNTION.fixedScrollBottom();

    setTimeout(() => {
      chattingInput.value = '';
      $('#chattingInput').blur();
    }, 500);
  }

   // 엔터 효과
   $('#chattingInput').keypress((event)=> {

      if ( event.which == 13 && event.shiftKey ) {

      } else if ( event.which == 13) {
        event.preventDefault();
        sendMessageToSvr(chattingInput);
      }
   });

  function drawChatMessage(data) {
    var wrap = document.createElement('div');
    var nickName = document.createElement('strong');
    var message = document.createElement('span');
    nickName.innerText = data.nickName;
    message.innerText = data.message;

    if(data.chat_type == "ADMIN" || data.chat_type == "SUB_ADMIN"){
      wrap.classList.add('admin');
    } else if(data.chat_type == "QNA"){
      wrap.classList.add('myqna');
    }
    wrap.classList.add('chatting_item');

    nickName.classList.add('name');
    message.classList.add('text');
    wrap.dataset.id = socket.id;
    wrap.appendChild(nickName);
    wrap.appendChild(message);
    return wrap;
  }

  function startArashowCountTimer() {
    var arashowStTm = $('#arashowStTm').val();

    console.log(arashowStTm);
    var start = new Date(arashowStTm);
    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var timer;

    $('#countDown').empty();
    var now = new Date();
    var distance = start - now;
    if (distance < 0) {
      clearInterval(arashowCountTimer);
      return;
    }

    var hours = Math.floor(distance / _hour);
    var minutes = Math.floor((distance % _hour) / _minute);
    var seconds = Math.floor((distance % _minute) / _second);

    var sHour = (hours <= 0) ? "00:" : hours + ":";
    $('#countDown').text(sHour  + twoDigits(minutes) + ':' + twoDigits(seconds));
  }

  function twoDigits(n) {
    return ( n <= 9 ? "0" + n : n );
  }

  async function getProdtInfo(){

    $.ajax({
      type: "GET",
      url: "https://i-vory.net/gateway/live/product.json?liveSeqNo=1",
      cache: false,

      contentType: "application/json",
      success: function (data) {
        // var live = data.live;
        // /* live info */
        // $('#thumImg').attr('src', live.IMG_URL);
        // $('#tagItemTitle').text( live.LIVE_SBJ);
      }, error: function (xhr, textStatus, errorThrown) {
      }
    });

    const result = await fetch('https://i-vory.net/gateway/live/live.json?seqNo=1');

  }



</script>
