<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:image" content="https://iandna-contents.s3.ap-northeast-2.amazonaws.com/ivory/banner/share_kakao_img.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <title>아라쇼 라이브방송 입니다.</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="background_content">
                <!-- 영상, 이미지 위치 유튜브 위치 -->
                <!--<img id="live_preview" src="" alt="이미지 임시" />-->
                <img id="live_preview" src="" alt="이미지 임시" />
                <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
                <div id="on_live">
                  <input id="streamUrl" type="hidden" value=""/>

                  <!-- <img src="/images/testonair.png" /> -->
                  <video class="live_video" controlslist="nodownload" controls autoplay muted id="video-player"></video>
                </div>
            </div>
            <div class="inner_layout">
                <div id="hidden_toggler"></div>
                <!-- header -->
                <header>
                    <h1>
                        <a href="#"><img src="/images/logo.png" alt="아라쇼 라이브" /></a>
                    </h1>
                    <div class="title_box" data-hidden-item="false">
                        <a href="#" class="title_profile">
                            <img id="brand_ci" class="profile" src="" alt="라이브 프로필 이미지" />
                            <img class="live" src="/images/label_live.png" alt="라이브 방송" />
                        </a>
                        <a href="#" class="title_info">
                            <h2 id="live_title"></h2>
                            <div>
                                <span class="nickname" id="nickName"> 님</span>
                                <span class="count_item"><ion-icon name="play-outline"></ion-icon><span id="viewCount">0</span></span>
                                <span class="count_item"><ion-icon name="heart-outline"></ion-icon><span id="lineCount">0</span></span>
                            </div>
                        </a>
                    </div>
                </header>
                <div class="btn_group">
                    <!-- <button data-hidden-item="false" class="btn_icon alarm" type="button" id="onClickAlarm">알람설정</button> -->
                    <button data-hidden-item="false" class="btn_icon mute off" type="button" id="onClickMute">음소거</button>
                    <button data-hidden-item="false" class="btn_icon share" type="button" id="onClickShare">공유</button>
                    <!-- <button data-hidden-item="false" class="btn_icon setting" type="button" id="onClickSetting">설정</button> -->
                    <button class="btn_icon close" type="button" onclick="backPress();" id="onClickClose">닫기</button>
                </div>

                <!-- before/after content -->
                <div class="before_item" hidden>
                    <span class="countdown">
                        <!-- soon 클래스 추가 시 텍스트 색상 강조 -->
                        <span id="countDown" class=""></span>
                        곧 라이브가 시작됩니다!
                    </span>
                    <input id="arashowStTm" type="hidden" value=""/>
                    <input id="arashowEndTm" type="hidden" value=""/>
                    <div class="alarm_box">
                        <button class="btn_alarm" type="button" id="onClickAlarm2"><span class="icon"></span>알림받기</button>
                        <div class="popup_item">
                            <i></i>
                            <span><strong>라이브 방송 알림</strong>을 설정하시면<br />라이브 진행 시 알림을 보내드려요.</span>
                        </div>
                    </div>
                </div>

                <div class="after_item" >
                    <span class="text">라이브가 종료되었습니다.</span>
                    <button class="btn_replay" type="button" onclick="backPress();" id="onClickReplay">앱으로 돌아가기 </button>
                    <!-- <a href="#" class="other_live">다른 라이브 보기</a> -->
                </div>

                <!-- tag item -->
                <div id="mainPrdt" class="tag_item" data-hidden-item="false">
                    <a>
                        <div class="thumbnail"><img id="thumImg" src="" alt="상품 썸네일" /></div>
                        <div class="tag_item_title" id="tagItemTitle"></div>
                        <div class="tag_item_price">
                            <span id="tagRate" class="rate"></span>
                            <strong id="tagPrice"></strong>
                        </div>
                    </a>
                </div>

                <!-- bottom right button group -->
                <div class="bottom_btn_group" data-hidden-item="false">
                    <div class="effect_wrap" id="heartContainer">
                        <div class="shadow" id="shadow"></div>
                        <img class="heart" id="bigHeart" src="/images/heart.png" alt="" />
                    </div>
                    <button type="button" class="buttom_btn like" id="onClickLike">좋아요</button>
                    <button type="button" class="buttom_btn liveInfo" id="onClickLiveInfo">질문
                      <span id="qna_count" class="badge hide" id="count"></span>
                    </button>
                    <button type="button" class="buttom_btn comment" id="onClickComment">댓글쓰기</button>
                    <button type="button" class="buttom_btn product" id="onClickProduct">
                        전체 상품
                        <span class="badge" id="count">9</span>
                    </button>
                </div>

                <!-- chatting -->
                <!--<div class="chatting_notice admin" id="chatting_notice_adm" data-hidden-item="true">-->
                <div class="chatting_notice admin" id="chatting_notice_adm">
                  <div class="chatting_item"><ion-icon name="notifications-outline"></ion-icon><span class="text">ㅁㅁㅁㅁㅁㅁㅁㅁ</span></div>
                </div>
                <div class="chatting_notice" id="chatting_notice" data-hidden-item="true">
                    <div class="chatting_item"><ion-icon name="log-in-outline"></ion-icon><span class="text"></span></div>
                </div>
                <div class="chatting_wrap" data-hidden-item="false">
                    <div class="chatting_inner" style="height: 337px">
                        <div class="chatting_movebox" id="chattingList">
                        </div>
                    </div>
                </div>

                <!-- slide modal content: live info -->
                <!-- <div class="slide_wrap" id="slideModal_LiveInfo">
                    <div class="slide_back slideModalBackground"></div>
                    <div class="slide_box">
                        <div class="slide_title">
                            <div class="tab_group">
                                <a href="#" data-tab-btn="1" class="tab_btn active">
                                    <h3>라이브 소개</h3>
                                </a>
                                <a href="#" data-tab-btn="2" class="tab_btn">
                                    <h3>라이브 공지</h3>
                                </a>
                            </div>
                            <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline"></ion-icon></button>
                        </div>
                        <div class="slide_content active" data-tab="1">
                            <h3>상품 간략 설명</h3>
                            <div class="textbox">
                              설명은 간략하게 내용은 간결하게
                            </div>
                        </div>
                        <div class="slide_content" data-tab="2">
                          <h3>공지사항1</h3>
                          <div class="textbox">
                            공지1는 간략하게 내용은 간결하게
                          </div>
                        </div>
                    </div>
                </div>-->

                 <!-- slide modal content: qna list -->
                <div class="slide_wrap" id="slideModal_LiveInfo">
                  <div class="slide_back slideModalBackground"></div>
                  <div class="slide_box">
                      <div class="slide_title">
                          <div class="tab_group">
                              <a href="#" data-tab-btn="1" class="tab_btn active">
                                  <h3>나의 문의내역</h3>
                              </a>
                          </div>
                          <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline"></ion-icon></button>
                      </div>
                      <div class="slide_content active t_center" data-tab="1" id="qna_list_wrap">
                        <h3>나의 문의내역이 없습니다.</h3>
                        <div class="textbox_small t_center">1:1 문의채팅을 하시면</div>
                        <div class="textbox_small t_center">이곳에서 문의및 답변 내용을</div>
                        <div class="textbox_small t_center">확인하실 수 있습니다.</div>
                      </div>
                  </div>
              </div>

                <!-- slide modal content: chatting -->
                <div class="slide_wrap" id="slideModal_Comment">
                    <div class="slide_back white slideModalBackground"></div>

                    <div class="slide_box chatting">
                        <div class="emoji">
                          <!-- ❤😂😂🤣❤😍👌😘😒😜💖🤷‍♀️🤦‍♂️😢🎶🤦‍♀️👍😎😉🙌😁🤞✌💕👏💋🌹🤳🐱‍🏍🐱‍👤🎂🎂👀😃✔🐱‍🚀🎁🤔😀😂😂😃😄😍😍🥰🥰🥰😗😗👩🧑👧👶👶👵❤❣💞💞 -->
                            <div class="emoji_item"><span>😎</span></div>
                            <div class="emoji_item"><span>👍</span></div>
                            <div class="emoji_item"><span>💖</span></div>
                            <div class="emoji_item"><span>😍</span></div>
                            <div class="emoji_item"><span>✌</span></div>
                            <div class="emoji_item"><span>🎁</span></div>
                            <div class="emoji_item"><span>🤣</span></div>
                            <div class="emoji_item"><span>😁</span></div>

<!--                             <div class="emoji_item"><img src="/images/imoticon/emoji-17.png" alt="" /></div> -->
                        </div>
                        <textarea  style="resize: none;" class="chatting_input" name="chattingInput" id="chattingInput" cols="1" placeholder="실시간 채팅에 참여하세요"></textarea>
                        <button type="button" class="chatting_btn_qna" id="onClickChattingMode"><ion-icon name="chatbubbles-outline"></ion-icon></button>
                        <button type="submit" class="chatting_btn_submit" id="onClickChattingSubmit">전송</button>
                    </div>
                </div>

                <!-- slide modal content: product -->
                <div class="slide_wrap" id="slideModal_Product">
                    <div class="slide_back slideModalBackground"></div>
                    <div class="slide_box">
                        <div class="slide_title product_title">
                            <div class="tab_group">
                                <h3>라이브에 소개된 상품</h3>
                            </div>
                            <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline"></ion-icon></button>
                        </div>
                        <div class="slide_content product">
                            <ul id="prdtList" class="product_list">
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- slide modal content: share -->
                <div class="slide_wrap" id="slideModal_Share">
                  <div class="slide_back slideModalBackground"></div>
                  <div class="slide_box share">
                      <div class="slide_title product_title">
                          <div class="tab_group">
                              <h3>공유하기</h3>
                          </div>
                          <button class="close onclickCloseSlide" type="button"><ion-icon name="close-outline" role="img" class="md hydrated" aria-label="close outline"></ion-icon></button>
                      </div>
                      <div class="slide_content share">
                          <div class="share_btn">
                              <button type="button" class="btn kakao" onclick="clickKakao();">카카오톡 공유</button>
                              <button type="button" class="btn url" onclick="copyUrl();">URL 공유</button>
                          </div>
                      </div>
                  </div>
              </div>

                <!-- center popup -->
                <!-- <div class="center_popup">
                  <div class="back" id="onClickClosePopupBack"></div>
                  <div class="img_box">
                      <img src="/images/sample/cp_sample.png" alt="" />
                      <button type="button" id="onClickClosePopup" hidden><ion-icon name="close-outline"></ion-icon></button>
                  </div>
              </div>-->
              <div class="bottom_chating_bg"></div>
            </div>
        </div>
    </body>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

    <!-- custom js -->

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/share.js"></script>
    <script src="/javascripts/heart.js"></script>
    <script src="/javascripts/cm.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

</html>
<!-- <script src="/node_modules/socket.io/socket.io.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script>
  var chattingList = document.getElementById('chattingList');
  var sendButton = document.getElementById('onClickChattingSubmit');
  var arashowCountTimer = 0; // 아라쇼 남은시간 타이머
  var timer = 0; // 아라쇼 방송 체크
  var liveInfo ,socket,SVR_URL ;
  $( document ).ready(function() {
    SVR_URL = '<%= process.env.SVR_URL %>';

    const userId = new URLSearchParams(location.search).get('userId');
    const nickName = new URLSearchParams(location.search).get('nickName');
    var seqNo = new URLSearchParams(location.search).get('seq_no');

    createChatingRoom(userId, nickName);
    getProdtInfo(seqNo);
    getArashowInfo(seqNo);
    muteDisable();
  });


  function createChatingRoom(userId, nickName){
    var nd_env = '<%= process.env.NODE_ENV %>';
    if(nd_env ==='local'){
      socket = io();
    } else {
      socket = io('https://i-vorylive.net/:5004', {transports: ['websocket']});
      // socket = io();
      // socket = io('http://localhost:5004', {transports: ['websocket']});
      // socket = io('http://live-alb-1188690101.ap-northeast-2.elb.amazonaws.com/:5004', {transports: ['websocket']});
      // socket = io.connect('http://localhost:5008');
      // socket = io('http://127.0.0.1:5008', {transports: ['websocket']});
      // socket = io.connect('http://127.0.0.1:5008');
    }
    /*[listen] Chatting Server connection completed */
    socket.on('connect', function () {
      var _userId = (userId == undefined || userId =='' )? 'guest' : userId;
      /* if have nickname replace with userId*/
      var _nickName;
      if(_userId != 'guest' && nickName == ''){
        _nickName  = _userId;
      } else{
        _nickName = (nickName == undefined || nickName =='' )? 'guest' : nickName;
      }
      var _clientId = socket.id;

      socket.userId = _userId;
      socket.nickName = _nickName;

      /*[broadcast] Im in */
      socket.emit('newUserConnect', {
          userId:_userId,
          nickName:_nickName ,
          clientId:_clientId
      });
    });

    /*[listen] update New user access welcome message */
    socket.on('updateWelcomeMessage',(data)=>{

      /* 현재 미노출 상태*/
      if( $('#chatting_notice_adm').attr('data-hidden-item') == true){
        $('#chatting_notice').attr('data-hidden-item', false);
        $('#chatting_notice').find('span.text').text(data.message);
        setTimeout(() => {
        $('#chatting_notice').attr('data-hidden-item', true);
        }, 4000);
      } 
      /* 현재 영역 사용중일때*/ 
      else {
      }
      
    });

    /*[listen] update admin message */
    socket.on('updateAdminMessage',(data)=>{
      $('#chatting_notice_adm').attr('data-hidden-item', false);
      $('#chatting_notice_adm').find('span.text').text(data.message);
      setTimeout(() => {
        $('#chatting_notice_adm').attr('data-hidden-item', true);
      }, 4000);
    });

    /*[listen] update private message from admin */
    socket.on('updatePrivateMessage',(data)=>{
      let type = data.private_type;
      let message = data.message;
      let myMessage = data.clientMessage;
      if(type == 'QNA_REPLY'){
        if($('#qna_count').hasClass('hide')){
          $('#qna_count').removeClass('hide');
        }
        var count = $('#qna_count').text();
        count =  count.length == 0 ? '0' : count;
        count = parseInt(count);
        count = ++count;
        $('#qna_count').text(count+'');


        $('#qna_list_wrap').append('<h3>내 질문 : '+ myMessage + '</h3>');
        $('#qna_list_wrap').append('<div class="textbox">답변 : '+message + '</div>');
        alert(`관리자님의 문의 응답이 도착하였습니디.\n${message}`);
        $('#onClickLiveInfo').trigger("click");
      } else if(type == 'FORCE_DISCONNECT'){
        alert('강퇴당하셨스빈다.')
      }
    });

    /*[listen] update messages from users */
    socket.on('updateMessageToClient',(data)=>{
      var chatMessageEl = drawChatMessage(data);
      chattingList.appendChild(chatMessageEl);
      setTimeout(() => {
            GLOBAL.FUCNTION.fixedScrollBottom();
        }, 200);
    });

    /*[listen] update Real-time change information (like, viewpage, nickname) */
    socket.on('updateRealData',(data)=>{
      var intLikeCnt = parseInt(data.likeCount);
      var strLikeCnt = intLikeCnt.toLocaleString('ko-KR');
      $('#lineCount').text(strLikeCnt);

      var intViewCnt = parseInt(data.viewCount);
      var strViewCnt = intViewCnt.toLocaleString('ko-KR');
      $('#viewCount').text(strViewCnt);

      var nickName = data.nickName;
      $('#nickName').text(nickName + '님');
    });

    /*[listen] Real-time change information (like) */
    socket.on('updateLikeCount',(data)=>{
      var intLikeCnt = parseInt(data.likeCount);
      var strLikeCnt = intLikeCnt.toLocaleString('ko-KR');
      $('#lineCount').text(strLikeCnt);
      animateHeart();
    });
  }

  /* press enter */
  $('#chattingInput').keypress((event)=> {

    if ( event.which == 13 && event.shiftKey ) {
    } else if ( event.which == 13) {
      event.preventDefault();
      sendMessageToSvr(chattingInput);
    }
  });

  sendButton.addEventListener('click', () => {
    sendMessageToSvr(chattingInput);
  });


  function tryRunApp(){
      var seqNo = new URLSearchParams(location.search).get('seq_no');
      var url = '/shop/liveView.do?seq_no=' +seqNo;

      var targetUrl = '';
      if(isAndroidDevice()){
        targetUrl = "Intent://data?innerPageUrl=" + url+ "#Intent;scheme=ivory;end";
      } else {
        targetUrl = 'appNYBB://innerPageUrl=' +url;
      }
      location.href = targetUrl;
  }

  function sendMessageToSvr(chattingInput){
    if(!loginChk()){ 
      var result = confirm('비회원은 아라쇼 채팅 참여가 불가능합니다. 앱 다운로드를 실행하시겠습니까?.');
      if(result){
        tryRunApp();
        setTimeout(() => {
          if(isAndroidDevice()){
            window.location.href = "https://play.google.com/store/apps/details?id=com.namyang.bebe";
          } else {
            window.location.href = "https://itunes.apple.com/kr/app/id1113295590";
          }  
        }, 500);
      }
      return;
    }

    var chat_type = ($('#onClickChattingMode').hasClass('active')) ? 'QNA' : 'NORMAL'
    var message = chattingInput.value;
    if (!message)
      return false;

    /*[broadcast] send to everyone */
    socket.emit('sendMessageToSvr', {
      message,
      chat_type
    });

    $(this).closest('.slide_wrap').find('.slide_back').addClass('closing');
    $(this).closest('.slide_wrap').find('.slide_box').addClass('closing');
    $('.tag_item').attr('data-hidden-item', false);
    $('.bottom_btn_group').attr('data-hidden-item', false);
    $('.chatting_wrap').css({ bottom: '90px', 'z-index': 101 });
    $('#chatting_notice').css({ bottom: '260px', 'z-index': 101 });
    $('#slideModal_Comment').removeClass('active');
    GLOBAL.FUCNTION.fixedScrollBottom();

    setTimeout(() => {
      chattingInput.value = '';
      chattingInput.blur();
    }, 200);
  }

  function drawChatMessage(data) {
    var wrap = document.createElement('div');
    var nickName = document.createElement('strong');
    var message = document.createElement('span');
    nickName.innerText = data.nickName;
    message.innerText = data.message;

    if(data.chat_type == "ADMIN" || data.chat_type == "SUB_ADMIN"){
      wrap.classList.add('admin');
    } else if(data.chat_type == "QNA"){
      wrap.classList.add('myqna');
    }
    wrap.classList.add('chatting_item');

    nickName.classList.add('name');
    message.classList.add('text');
    wrap.dataset.id = socket.id;
    wrap.appendChild(nickName);
    wrap.appendChild(message);
    return wrap;
  }
</script>
