@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@-webkit-keyframes dots {
    0% {
        opacity: 0;
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        opacity: 1;
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes dots {
    0% {
        opacity: 0;
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        opacity: 1;
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes closingBG {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes closingBG {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes openingBG {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openingBG {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes closingBox {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes closingBox {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes openingBox {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes openingBox {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid rgba(255, 0, 0, 0.1) !important; */
}

html,
body {
    touch-action: pan-y;
    /* safari dblclick disable*/
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'ivory_pretendard', sans-serif;
}

button,
a {
    cursor: pointer;
}

textarea::placeholder {
    font-family: 'ivory_pretendard', sans-serif;
}

#hidden_toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

[data-hidden-item="true"] {
    display: none !important;
}

[hidden] {
    visibility: hidden;
}

.wrapper {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    min-height: 640px;
}

.wrapper .background_content {
    /*width: calc(100vh * 0.5625);*/
    width: 100%;
    height: 100%;
    max-width: 420px;
    min-height: 640px;
    /*min-width: 360px;*/
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 0;
}

.wrapper .background_content:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /*background-color: rgba(50, 50, 50, 0.5);*/
    mix-blend-mode: multiply;
}

.wrapper .background_content img {
    display: block;
    position: absolute;
    width: 120%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
}

.wrapper .inner_layout {
    display: inline-block;
    /*width: calc(100vh * 0.5625);*/
    max-width: 420px;
    width: 100%;
    height: 100%;
    min-height: 640px;
    /*min-width: 360px;*/
    font-size: 0;
    vertical-align: top;
    text-align: left;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

header h1 a {
    padding: 13px 15px;
    display: inline-block;
}

header h1 a img {
    display: inline-block;
    width: 80px;
    height: auto;
}

header .title_box {
    position: relative;
    min-height: 38px;
    margin: 3px 15px 0;
    padding-left: 46px;
}

header .title_box .title_profile {
    display: block;
    width: 38px;
    height: 38px;
    min-width: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

header .title_box .title_profile .profile {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header .title_box .title_profile .live {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header .title_box .title_info {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header .title_box .title_info h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: -1px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

header .title_box .title_info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .title_box .title_info div span {
    font-size: 11px;
}

header .title_box .title_info div span>* {
    vertical-align: middle;
}

header .title_box .title_info div span.nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    position: relative;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    padding-right: 17px;
    line-height: 1.2;
    font-size: 12px;
    letter-spacing: -0.26px;
}

header .title_box .title_info div span.nickname:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 8px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
}

header .title_box .title_info div span.count_item:not(:last-child) {
    margin-right: 10px;
}

header .title_box .title_info div span.count_item *:first-child {
    margin-right: 3px;
}

.btn_group {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 11;
}

.btn_icon {
    border: 0;
    margin: 10px;
    color: #fff;
    font-size: 1.5rem;
    width: 28px;
    height: 28px;
    cursor: pointer;
    text-indent: -9999px;
    background: transparent url("../images/button.png") no-repeat;
    overflow: hidden;
}

.btn_icon.player.play {
    background: transparent url("../images/btn_play.png") no-repeat;
    background-size: cover;
}

.btn_icon.player.pause {
    background: transparent url("../images/icon_mute_on.svg") no-repeat;
    background-size: cover;
}

.btn_icon.alarm {
    background-position-x: 0px;
}

.btn_icon.mute.on {
    background: transparent url("../images/icon_mute_on.svg") no-repeat;
    background-size: cover;
}

.btn_icon.mute.off {
    background: transparent url("../images/icon_mute_off.svg") no-repeat;
    background-size: contain;
}

.btn_icon.share {
    background: transparent url("../images/icon_share.svg") no-repeat;
    background-size: contain;
}

.btn_icon.setting {
    background-position-x: -132px;
}

.btn_icon.close {
    background: transparent url("../images/icon_close.svg") no-repeat;
    background-size: contain;
}

.before_item,
.after_item {
    position: absolute;
    top: 23.1%;
    z-index: 10;
    color: #fff;
    height: 112px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.after_item {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.before_item .countdown,
.after_item .countdown {
    display: block;
    line-height: 1.27;
    font-size: 15px;
    letter-spacing: -0.3px;
}

.before_item .countdown>span,
.after_item .countdown>span {
    display: block;
    font-weight: 600;
    letter-spacing: -0.65px;
    padding-bottom: 3px;
    font-size: 32px;
}

.before_item .countdown>span.soon,
.after_item .countdown>span.soon {
    color: #5cc4b7;
}

.before_item .alarm_box,
.after_item .alarm_box {
    position: relative;
    display: inline-block;
    margin-top: 13px;
}

.before_item .btn_alarm,
.before_item .btn_replay,
.after_item .btn_alarm,
.after_item .btn_replay {
    background-color: #5cc4b7;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 2.34;
    font-weight: 500;
    border-radius: 50px;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
}

.inner_layout.jellyview .before_item .btn_alarm,
.inner_layout.jellyview .before_item .btn_replay,
.inner_layout.jellyview .after_item .btn_alarm,
.inner_layout.jellyview .after_item .btn_replay {
    background-color: #e74451;
}

.before_item .btn_alarm .icon,
.before_item .btn_replay .icon,
.after_item .btn_alarm .icon,
.after_item .btn_replay .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("../images/button.png") no-repeat;
    background-size: auto 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.before_item .btn_replay,
.after_item .btn_replay {
    max-width: 200px;
    margin: 20px 0;
}

.before_item .text,
.after_item .text {
    color: #fff;
    font-size: 13px;
}

.before_item a,
.after_item a {
    color: #fff;
    font-size: 13px;
    text-decoration: underline;
}

.popup_item {
    top: 41px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    z-index: 70;
}

.popup_item i {
    position: absolute;
    top: -8px;
    width: 12px;
    height: 8px;
}

.popup_item i:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ffece3;
    border-left: 6px solid transparent;
}

.popup_item i:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ffece3;
    border-left: 6px solid transparent;
}

.popup_item span {
    display: block;
    padding: 9px 12px;
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
    background-color: #ffece3;
    color: #000;
    border-radius: 4px;
    line-height: 1.29;
    text-align: left;
    letter-spacing: -0.31px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup_item span strong {
    color: #5cc4b7;
}

.tag_item {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 40;
    overflow: hidden;
    width: 260px;
    height: 64px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.tag_item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag_item a {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 74px;
    outline-offset: -3px;
}

.tag_item a .thumbnail {
    overflow: hidden;
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
}

.tag_item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 32px;
    line-height: 1.25;
    font-size: 13px;
    font-weight: 400;
    color: #303038;
    letter-spacing: -0.58px;
}

.tag_item_price {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    padding: 2px 0 1px;
    line-height: 1.26;
    font-size: 12px;
    font-weight: 600;
    color: #222;
}

.tag_item_price .rate {
    padding-right: 4px;
    color: #ed1c24;
}

.chatting_notice {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 15px 6px 22px;
    border-radius: 15px;
    word-break: keep-all;
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 260px;
    left: 15px;
    z-index: 101;
    /* -webkit-transition: bottom 0.5s cubic-bezier(0, 1, 0, 1) 0.1s, margin-bottom 0.1s linear;
    transition: bottom 0.5s cubic-bezier(0, 1, 0, 1) 0.1s, margin-bottom 0.1s linear; */
    transition: bottom 0.3s, margin-bottom 0.3s;
}

.chatting_notice.chatting_notice_bottom {
    max-width: 70%;
    bottom: 90px;
    display: none;
    height: 50px;
    background-color: transparent;
    padding: 0;
    align-items: center;
}

.chatting_notice.chatting_notice_bottom .chatting_item {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 15px 6px 22px;
    border-radius: 15px;
    position: relative;
}

.chatting_notice.chatting_notice_bottom .chatting_item .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #fbff00;
    font-weight: 500 !important;
}

.chatting_notice.admin {
    bottom: 300px;
}

.chatting_notice ion-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.chatting_notice .text {
    position: relative;
    left: 5px;
}

.admin_normal_chat {
    color: #fbff00;
    font-weight: 500 !important;
}

.admin_normal_chat span {
    margin-top: 6px;
    display: inline-block !important;
}

.auto_scroll_down {
    scroll-behavior: smooth;
}

.chatting_wrap {
    margin-bottom: 0px;
    max-height: 160px;
    right: 95px;
    bottom: 90px;
    left: 15px;
    z-index: 101;
    max-width: 400px;
    position: absolute;
    overflow-y: scroll;
    -webkit-transition: bottom 0.5s cubic-bezier(0, 1, 0, 1) 0.1s, max-height 0.1s linear, mask-image 0.3s, -webkit-mask-image 0.3s;
    transition: bottom 0.5s cubic-bezier(0, 1, 0, 1) 0.1s, max-height 0.1s linear, mask-image 0.3s, -webkit-mask-image 0.3s;
    line-height: 1.2;
    font-size: 14px;
    color: #fff;
    /*background-color: rgba(50, 50, 50, 0.5);*/
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    -webkit-mask-image: linear-gradient(transparent, #fff 30px);
    mask-image: linear-gradient(transparent, #fff 30px);
    will-change: bottom, mask-image, -webkit-mask-image, max-height;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.chatting_wrap.scroll_top {
    -webkit-mask-image: linear-gradient(transparent, #fff 0px);
    mask-image: linear-gradient(transparent, #fff 0px);
}

.chatting_index {
    overflow: hidden;
}

.chatting_index .chatting_inner {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chatting_index .chatting_inner::-webkit-scrollbar {
    display: none;
}

.chatting_index .chatting_inner .chatting_movebox {
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
    height: auto;
    overflow: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.chatting_wrap.long {
    max-height: 300px;
}

.chatting_wrap::-webkit-scrollbar {
    display: none;
}

.chatting_inner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    bottom: 0;
}

.chatting_inner .admin_button {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.chatting_movebox {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0 !important;
    /* height: 40%; */
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

.chatting_item {}

.chatting_item.admin {
    margin-top: 6px;
    margin-right: 5px;
    /* padding: 10px 12px;
    position: fixed;
    bottom: 88px;
    width: 234px;
    z-index: 1090;
    overflow: hidden;
    display: -webkit-box;
    background-color: rgba(27, 27, 27, 0.7);
    border-radius: 14px; */
}

.chatting_item.admin .text {
    color: #fbff00;
    font-weight: 500 !important;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.chatting_item.myqna .text {
    color: #ff7f00;
    font-weight: 500 !important;
}

.chatting_item.myqna .status {
    /* font-weight: bold !important;
    padding: 8px 12px;
    position: relative;
    margin-left: 6px;
    background-color: #fff;
    right: 6px;
    color: #333;
    border: solid 1px;
    margin-top: 6px;
    font-size: 11px; */
    background-color: #fff;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    margin-right: 5px;
}

.chatting_item.myqna .qna_reply {
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 25px;
    font-size: 11px;
    position: relative;
}

.chatting_item.myqna .qna_reply:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/arrow.svg) no-repeat;
    position: absolute;
    left: 0;
}

.chatting_item.myqna:before {
    content: "문의할래요";
    display: inline-block;
    background-color: #5cc4b7;
    color: #333;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 15px;
    border-radius: 15px;
    margin-right: 5px;
}

.chatting_item .name {
    display: inline-block;
    margin-top: 6px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 5px;
}

.chatting_item .text {
    display: inline;
    font-weight: 400;
}

.bottom_btn_group {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 60;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bottom_btn_group .buttom_btn {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto 40px;
}

.bottom_btn_group .buttom_btn:not(:first-child) {
    margin-top: 10px;
}

.bottom_btn_group .buttom_btn.like {
    background-image: url(../images/icon_heart.svg);
}

.bottom_btn_group .buttom_btn.liveInfo {
    background-image: url(../images/icon_qna.svg);
}

.bottom_btn_group .buttom_btn.coupon {
    background-image: url(../images/icon_coupon.svg);
}

.bottom_btn_group .buttom_btn.notice {
    background-image: url(../images/notice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.bottom_btn_group .buttom_btn.comment {
    background-image: url(../images/icon_chatting.svg);
}

.bottom_btn_group .buttom_btn.product {
    background-image: url(../images/icon_shopping.svg);
}

.bottom_btn_group .buttom_btn.product.jellyview {
    background-image: url(../images/icon_shopping_jellyview.svg);
}

.bottom_btn_group .buttom_btn.product .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #333;
    background-color: #5cc4b7;
    text-indent: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 900;
    white-space: nowrap;
}

.bottom_btn_group .buttom_btn.product.jellyview .badge {
    background-color: #e74451;
}

.bottom_btn_group .buttom_btn.liveInfo .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #333;
    background-color: #5cc4b7;
    text-indent: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 900;
}

.effect_wrap {
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 0;
    overflow: visible;
}

.effect_wrap .heart {
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    cursor: pointer;
    opacity: 0;
}

.effect_wrap .shadow {
    position: absolute;
    width: 70%;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 50%;
    bottom: -2px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.effect_wrap .hearts {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
}

.effect_wrap .dots {
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -webkit-animation: dots 1.5s forwards;
    animation: dots 1.5s forwards;
    background-color: #e4a15c;
}

.slide_wrap {
    z-index: 1105;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.slide_wrap.active {
    display: block;
}

.slide_back {
    /* position: absolute; */
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide_back.closing {
    -webkit-animation: closingBG 0.3s forwards;
    animation: closingBG 0.3s forwards;
}

.slide_back.opening {
    -webkit-animation: openingBG 0.3s forwards;
    animation: openingBG 0.3s forwards;
}

.slide_back.white {
    background-color: transparent;
}

.slide_box {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

.slide_box.closing {
    -webkit-animation: closingBox 0.3s forwards;
    animation: closingBox 0.3s forwards;
}

.slide_box.opening {
    -webkit-animation: openingBox 0.3s forwards;
    animation: openingBox 0.3s forwards;
}

.slide_box.chatting {
    height: auto;
    border-radius: 0 !important;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 70;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
}

.slide_box.chatting .chatting_input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 23px;
    padding: 11px 0 11px 13px;
    border: 0;
    background-color: #fff;
    line-height: 1.54;
    font-size: 15px;
    color: #303038;
    letter-spacing: -0.25px;
    word-break: break-all;
    resize: none;
}

.slide_box.chatting .chatting_btn_qna {
    font-size: 18px;
}

.slide_box.chatting .chatting_btn_qna.active {
    background-color: #5cc4b7;
    color: #fff;
}

.slide_box.chatting .chatting_btn_qna.jellyview.active {
    background-color: #e74451;
}

.slide_box.chatting button {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
}

.slide_box.share {
    height: auto;
}

.slide_title {
    position: relative;
    padding: 15px 50px 12px;
}

.slide_title .tab_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.slide_title .tab_group h3 {
    color: #333;
    line-height: 1.27;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 0 20px;
    position: relative;
    opacity: 0.5;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.slide_title .tab_group h3:after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 40px);
    left: -20px;
    height: 5px;
    border-radius: 3px;
    background-color: #5cc4b7;
    bottom: -5px;
    opacity: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.slide_title.jellyview .tab_group h3:after {
    background-color: #e74451;
}

.slide_title .tab_group .active h3 {
    opacity: 1;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.slide_title .tab_group .active h3:after {
    bottom: -10px;
    opacity: 1;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.slide_title .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slide_content {
    padding: 15px;
    font-size: 0.725rem;
    overflow-y: auto;
    height: calc(100% - 60px);
    display: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.slide_content::-webkit-scrollbar {
    display: none;
}

.slide_content.active {
    display: block;
}

.slide_content .textbox {
    /* white-space: pre-line; */
    padding: 4px 0px 16px 0px;
    line-height: 1.3;
}

.slide_content .textbox_small {
    padding: 4px 0px 4px 0px;
    line-height: 1.3;
}

.slide_content.share {
    display: block;
}

.emoji {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.emoji::-webkit-scrollbar {
    display: none;
}

.emoji_item img {
    display: block;
    height: 100%;
    width: auto;
}

.emoji_item span {
    display: block;
    height: 100%;
    width: auto;
    padding: 0 12px;
    color: #000;
    font-size: 20px;
}

.product {
    display: block;
}

.product_title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product_list {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    padding: 7.5px 20px 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.product_list li {
    position: relative;
    padding: 7.5px 10px 7.5px 100px;
    position: relative;
    display: block;
    height: 92px;
}

.product_list li .thumbnail {
    overflow: hidden;
    background-color: #f8f8f8;
    position: absolute;
    top: 8px;
    left: 0;
    width: 92px;
    height: 92px;
    border-radius: 10px;
}

.product_list li .thumbnail:before {
    background-position: -146px -230px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product_list li .thumbnail:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.product_list li .thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.product_list li .product_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #333;
    height: 92px;
}

.product_list li .product_info .name {
    display: inline-block;
    word-wrap: normal;
    margin-top: -1px;
    line-height: 1.27;
    font-size: 15px;
    font-weight: 400;
    color: #303038;
    letter-spacing: -0.5px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* height: 45px; */
}

.product_list li .product_info .rate {
    padding-right: 2px;
    font-weight: 700;
    color: #ed1c24;
}

.product_list li .product_info .dc {
    color: #ed1c24;
}

.product_list li .product_info .store {
    color: #666;
}

.share_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.share_btn .btn {
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    background: url("../images/share_button.png");
    text-indent: -9999px;
}

.share_btn .btn.kakao {
    background-position-x: 0px;
}

.share_btn .btn.url {
    background-position-x: -60px;
}

.center_popup .back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 110;
}

.center_popup .img_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 111;
    padding: 15px;
    width: calc(100% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center_popup img {
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

.center_popup button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 0;
    outline: 0;
    top: 15px;
    right: 15px;
    position: absolute;
}

.qna_float {
    position: absolute;
    width: auto;
    height: 52px;
    right: 40px;
    bottom: 32px;
    z-index: 1020;
    animation: qna_ani 1.4s infinite;
}

.hide {
    display: none !important;
}

.t_center {
    text-align: center !important;
}

.bottom_chating_bg_top {
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 1;
    top: 0px;
    background: linear-gradient(to top, rgba(55, 55, 55, 0.001), rgba(55, 55, 55, 0.4));
}

.bottom_chating_bg {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 1;
    bottom: 0px;
    background: linear-gradient(to top, rgba(55, 55, 55, 0.55), rgba(55, 55, 55, 0.001));
}

.live_video {
    width: 100%;
}

.btn_play {
    display: none;
    z-index: 9999;
    width: 72px;
    position: absolute;
    margin: 0 auto;
    right: 0px;
    right: 0px;
    margin-top: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.loading_wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.12);
    width: 100%;
    height: 100%;
    z-index: 99000;
}

.loading-circle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54px;
    height: 54px;
    animation: rotate_image 0.6s linear infinite;
    transform-origin: 50% 50%;
}

.loading_point {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54px;
    height: 54px;
}

.loading_point.jelly {}

.loading_wait_text {
    position: absolute;
    margin: auto;
    top: 134px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    height: 54px;
    font-size: calc(100vw * (25 / 640));
    letter-spacing: calc(100vw * (-0.6 / 640));
    line-height: calc(100vw * (40 / 640));
}

.img_mute_off {
    position: absolute;
    right: 82px;
    width: 130px;
    top: 34px;
    animation: qna_ani 1.4s infinite;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes qna_ani {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

/* admin */
.wrapper.admin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper.admin .admin_right {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* min-height: calc(100vh - 20px); */
    position: relative;
    background-color: #2e2e2e;
    gap: 10px;
    padding: 10px;
}

.wrapper.admin .admin_right .inner_layout {
    min-height: calc(100vh - 20px);
    width: calc(100% - 20px);
    max-width: 100%;
    /* margin: 10px; */
    background-color: #333;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.wrapper.admin .admin_right .inner_layout.only_chatt {
    flex: 6;
    /* margin-right: 5px; */
}

.wrapper.admin .admin_right .inner_layout.only_qna_log {
    background-color: transparent;
    box-shadow: none;
    flex: 4;
    /* margin-left: 5px; */
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap {
    height: 100%;
    max-width: none;
    max-height: calc(100vh - 135px);
    width: 100%;
    margin-top: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0 !important;
    position: relative;
    mask-image: none;
    -webkit-mask-image: none;
    overflow-y: auto;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner {
    height: auto;
    overflow: visible;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox {
    height: auto;
    overflow: visible;
    position: relative;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item {
    padding: 5px 10px;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item:hover {
    background-color: #000;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .name {
    margin: 0;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.6) !important;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .name,
.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .text {
    color: #fff;
    font-size: 15px;
}

.wrapper.admin.host .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .name,
.wrapper.admin.host .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .text {
    color: #fff;
    font-size: 25px;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .name.admin,
.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item .name.admin+.text {
    color: #5cc4b7;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item.notice {
    background-color: #232323;
    padding-left: 25px;
    position: relative;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item.notice:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 5px;
    background: url(../images/notice.svg) no-repeat;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item.notice .name,
.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item.notice .text {
    color: #fff !important;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap .chatting_inner .chatting_movebox .chatting_item.notice .name {
    display: none;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap {
    height: 95px;
    top: auto;
    bottom: 0;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap .slide_box.chatting {
    background-color: #333;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap [class^="chatting_btn"] {
    padding: 3px 6px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    border: 1px solid #000;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap [class^="chatting_btn"]:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap [class^="chatting_btn"] {
    border-left: 0;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap .chatting_btn_copy {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap .chatting_btn_qna.active {
    background-color: #5cc4b7;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap .chatting_input {
    outline: 0 !important;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .slide_wrap .hidden_textarea {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    line-height: 0;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap {
    height: calc(100vh - 20px);
    max-width: none;
    max-height: none;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0 !important;
    position: relative;
    mask-image: none;
    -webkit-mask-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner {
    background-color: #333;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner:not(:last-child) {
    margin-bottom: 10px;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.message_list {
    flex: 1;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.chatting_list {
    flex: 1;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.message_list .chatting_movebox,
.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.chatting_list .chatting_movebox {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.message_list .chatting_movebox::-webkit-scrollbar,
.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.chatting_list .chatting_movebox::-webkit-scrollbar {
    display: none;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.message_list .chatting_movebox .chatting_item,
.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.chatting_list .chatting_movebox .chatting_item {
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
}

.wrapper.admin .admin_right .inner_layout.only_qna_log .chatting_wrap .chatting_inner.button_group {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.qna_pop_list {
    padding: 20px 0;
}

.qna_pop_list .qna_box {
    margin: 20px 0;
}

.qna_pop_list .qna_box:first-child {
    margin-top: 0;
}

.qna_pop_list .qna_box:last-child {
    margin-bottom: 0;
}

.qna_pop_list .qna_box .question {
    position: relative;
    padding-left: 25px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    white-space: pre-wrap;
}

.qna_pop_list .qna_box .question:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icon_q.svg) no-repeat;
    left: 0;
    top: 0;
}

.qna_pop_list.jellyview .qna_box .question:before {
    background: url(../images/icon_q_jellyview.svg) no-repeat;
}

.qna_pop_list .qna_box .answer {
    position: relative;
    padding-left: 25px;
    font-weight: lighter;
    white-space: pre-wrap;
}

.qna_pop_list .qna_box .answer:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icon_a.svg) no-repeat;
    left: 0;
    top: 0;
}

.coupon_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.coupon_list li {
    width: 230px;
    height: 123px;
    position: relative;
}

.coupon_list li:not(:last-child) {
    margin-bottom: 15px;
}

.coupon_list li .coupon_bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.coupon_list li .coupon_info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.coupon_list li .coupon_info .coupon_detail {
    height: calc(100% - 40px);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.coupon_list li .coupon_info .coupon_detail .dc_rate {
    font-size: 18px;
    color: #5cc4b7;
}

.coupon_list li .coupon_info .coupon_detail .name {
    font-weight: bold;
    font-size: 12px;
}

.coupon_list li .coupon_info .coupon_down {
    width: 47px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coupon_list li .coupon_info .coupon_down,
.coupon_list li .coupon_info .coupon_down:hover,
.coupon_list li .coupon_info .coupon_down:active,
.coupon_list li .coupon_info .coupon_down:focus {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.coupon_list li .coupon_info .coupon_down img {
    display: block;
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
}

.coupon_list li .coupon_info .coupon_down p {
    font-size: 11px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #000;
}

.coupon_guide_list {
    position: relative;
    padding: 20px 0;
}

.coupon_guide_list li {
    padding-left: 20px;
    position: relative;
}

.coupon_guide_list li:not(:last-child) {
    margin-bottom: 10px;
}

.coupon_guide_list li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: #000;
    margin-left: -10px;
    margin-right: 5px;
    vertical-align: middle;
}

.no_display {
    display: none !important;
}

.wrapper.admin .admin_right .inner_layout.only_chatt .chatting_wrap.host_userlist {
    height: 40px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper.admin.host .inner_layout.only_chatt .chatting_wrap.host_userlist .chatting_inner .chatting_movebox .chatting_item .text {
    color: #fbff00;
    white-space: nowrap;
}