#live_preview {
  display: none !important;
}

.wrapper.admin .background_content {
  left: 0;
  transform: none;
}
.wrapper .background_content .before_waiting_box:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(50, 50, 50, 0.5);
  mix-blend-mode: multiply;
  transform: translate3d(0, 0, 1px);
}
.wrapper .background_content .before_waiting_box > div {
  z-index: 2;
  transform: translate3d(0, 0, 1px);
}
.wrapper .background_content img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: none;
  top: initial;
  left: initial;
  position: relative;
}
.wrapper .before_item {
  top: 0;
}
.wrapper .before_waiting_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 110px);
  position: absolute;
  z-index: 2;
  padding-top: 110px;
}
.wrapper .before_waiting_box.countdown {
  font-size: 3.5714285714vw;
  letter-spacing: normal;
  font-weight: normal;
  top: 13.3333333333vw;
  position: absolute;
  z-index: 3 !important;
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box.countdown {
    font-size: 15px;
  }
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box.countdown {
    top: 56px;
  }
}
.wrapper .before_waiting_box.countdown #countDown {
  font-size: 7.619047619vw;
  letter-spacing: -0.1547619048vw;
  font-weight: 600;
  padding-bottom: 0.7142857143vw;
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box.countdown #countDown {
    font-size: 32px;
  }
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box.countdown #countDown {
    letter-spacing: -0.65px;
  }
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box.countdown #countDown {
    padding-bottom: 3px;
  }
}
.wrapper .before_waiting_box .timer_position {
  height: 15.4761904762vw;
  width: 100%;
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box .timer_position {
    height: 65px;
  }
}
.wrapper .before_waiting_box .logo_box .brand_name {
  font-size: 7.1428571429vw;
  letter-spacing: normal;
  font-weight: bold;
  line-height: 7.1428571429vw;
  color: #fff;
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box .logo_box .brand_name {
    font-size: 30px;
  }
}
@media (min-width: 420px) {
  .wrapper .before_waiting_box .logo_box .brand_name {
    line-height: 30px;
  }
}
.wrapper .arashow_count {
  height: calc(100% - 160px);
  padding-top: 160px;
}
.wrapper .arashow {
  height: calc(100% - 160px);
  padding-top: 160px;
  background: url("../images/liveWaiting/img_arashow_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .arashow .coming_soon_box {
  width: 54.7619047619vw;
  height: 8.5714285714vw;
  margin-bottom: 4.7619047619vw;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .arashow .coming_soon_box {
    width: 230px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .coming_soon_box {
    height: 36px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .coming_soon_box {
    margin-bottom: 20px;
  }
}
.wrapper .arashow .live_box {
  width: 57.1428571429vw;
  height: 5.9523809524vw;
  border-radius: 5.9523809524vw;
  margin-top: 6.4285714286vw;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box {
    width: 240px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box {
    height: 25px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box {
    border-radius: 25px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box {
    margin-top: 27px;
  }
}
.wrapper .arashow .live_box img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 0;
}
.wrapper .arashow .live_box .livetime_info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16.6666666667vw;
  padding-right: 4.7619047619vw;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box .livetime_info_box {
    padding-left: 70px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box .livetime_info_box {
    padding-right: 20px;
  }
}
.wrapper .arashow .live_box .livetime_info_box p {
  font-size: 4.2857142857vw;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 5.9523809524vw;
  white-space: nowrap;
  color: #fff;
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box .livetime_info_box p {
    font-size: 18px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .live_box .livetime_info_box p {
    line-height: 25px;
  }
}
.wrapper .arashow .logo_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6.4285714286vw;
  flex-direction: column;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box {
    margin-top: 27px;
  }
}
.wrapper .arashow .logo_box .logo {
  width: 19.5238095238vw;
  height: auto;
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .logo {
    width: 82px;
  }
}
.wrapper .arashow .logo_box .x {
  width: 2.619047619vw;
  margin-top: 2.619047619vw;
  margin-right: 0vw;
  margin-bottom: 2.619047619vw;
  margin-left: 0vw;
  height: auto;
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .x {
    width: 11px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .x {
    margin-top: 11px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .x {
    margin-right: 0px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .x {
    margin-bottom: 11px;
  }
}
@media (min-width: 420px) {
  .wrapper .arashow .logo_box .x {
    margin-left: 0px;
  }
}
.wrapper .jellyshow {
  background: url("../images/liveWaiting/img_jellyshow_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .jellyshow .timer_position {
  height: 28.8095238095vw;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .timer_position {
    height: 121px;
  }
}
.wrapper .jellyshow .live_box {
  margin-top: 9.0476190476vw;
  width: 36.9047619048vw;
  height: 12.619047619vw;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .live_box {
    margin-top: 38px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .live_box {
    width: 155px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .live_box {
    height: 53px;
  }
}
.wrapper .jellyshow .coming_soon_box {
  margin-top: 9.0476190476vw;
  width: 65.2380952381vw;
  height: 6.6666666667vw;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .coming_soon_box {
    margin-top: 38px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .coming_soon_box {
    width: 274px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .coming_soon_box {
    height: 28px;
  }
}
.wrapper .jellyshow .livetime_info_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.2380952381vw;
  width: 55vw;
  height: 8.5714285714vw;
  border-radius: 8.5714285714vw;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box {
    margin-top: 22px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box {
    width: 231px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box {
    height: 36px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box {
    border-radius: 36px;
  }
}
.wrapper .jellyshow .livetime_info_box p {
  font-size: 5vw;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 8.5714285714vw;
  white-space: nowrap;
  color: #fff;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box p {
    font-size: 21px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .livetime_info_box p {
    line-height: 36px;
  }
}
.wrapper .jellyshow .logo_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10.9523809524vw;
  flex-direction: column;
  position: relative;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box {
    margin-top: 46px;
  }
}
.wrapper .jellyshow .logo_box .logo {
  width: 21.9047619048vw;
  height: auto;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .logo {
    width: 92px;
  }
}
.wrapper .jellyshow .logo_box .x {
  width: 3.8095238095vw;
  margin-top: 3.5714285714vw;
  margin-right: 0vw;
  margin-bottom: 3.5714285714vw;
  margin-left: 0vw;
  height: auto;
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .x {
    width: 16px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .x {
    margin-top: 15px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .x {
    margin-right: 0px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .x {
    margin-bottom: 15px;
  }
}
@media (min-width: 420px) {
  .wrapper .jellyshow .logo_box .x {
    margin-left: 0px;
  }
}