@import '_scss/Variables';

#live_preview{
    display: none !important; 
}  

.wrapper {

    &.admin{
        .background_content{
            left: 0;
            transform: none;
        }
    }

    .background_content {

        .before_waiting_box{
            
            &:before{
                display: block;
                content: '';
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index:0;
                background-color: rgba(50, 50, 50, 0.5);
                mix-blend-mode: multiply;
                transform: translate3d(0,0,1px);
            }

            > div{
                z-index: 2;
                transform: translate3d(0,0,1px);
            }
        }

        img{
            @include fit(cover);
            transform: none;
            top: initial;
            left: initial;
            position:relative;
        }
    }

    .before_item{
        top: 0;
    }

    .before_waiting_box{
        @include center(flex-start);
        flex-direction: column;
        width: 100%;
        height: calc(100% - 110px);
        position:absolute;
        z-index: 2;
        padding-top: 110px;

        &.countdown{
            @include font(15,normal,normal);
            @include media(top, 56);
            position: absolute;
            z-index: 3 !important;
            
            #countDown{
                @include font(32, -0.65,600);
                @include media(padding-bottom,3);
            }
        }

        .timer_position{
            @include media(height, 65);
            width: 100%;
        }

        .logo_box{
            .brand_name{
                @include font(30, normal, bold, 30);
                color: #fff;
            }
        }
    }

    .arashow_count{
        height: calc(100% - 160px);
        padding-top: 160px;
    }

    .arashow{
        height: calc(100% - 160px);
        padding-top: 160px;
        background: url('../images/liveWaiting/img_arashow_bg.jpg') no-repeat;
        background-position: center;
        background-size: cover;

        .coming_soon_box{
            @include media(width,230);
            @include media(height,36);
            @include media(margin-bottom, 20);
            position:relative;
        }

        .live_box{
            @include media(width, 240);
            @include media(height, 25);
            @include media(border-radius,25);
            @include media(margin-top, 27);
            background-color: rgba(0,0,0,0.5);
            background-blend-mode: multiply;
            position:relative;

            img{
                position: absolute;
                height: 100%;
                width: auto;
                left: 0;
            }

            .livetime_info_box{
                @include center;
                @include media(padding-left,70 );
                @include media(padding-right,20 );
                position:relative;

                p{
                    @include font(18, normal, normal,25);
                    white-space:nowrap;
                    color: #fff;
                }
            }
        }

        .logo_box{
            @include center(flex-start);
            @include media(margin-top, 27);
            flex-direction: column;
            position:relative;

            .logo{
                @include media(width, 82);
                height: auto;
            }

            .x{
                @include media(width, 11);
                @include media4(margin, 11, 0, 11, 0);
                height: auto;
            }
        }
    }

    .jellyshow{
        background: url('../images/liveWaiting/img_jellyshow_bg.jpg') no-repeat;
        background-position: center;
        background-size: cover;

        .timer_position{
            @include media(height, 121);
        }

        .live_box{
            @include media(margin-top, 38);
            @include media(width, 155);
            @include media(height, 53);
            position:relative;
        }

        .coming_soon_box{
            @include media(margin-top, 38);
            @include media(width, 274);
            @include media(height, 28);
            position:relative;
        }

        .livetime_info_box{
            @include center;
            @include media(margin-top, 22);
            @include media(width, 231);
            @include media(height, 36);
            @include media(border-radius, 36);
            background-color: rgba(0,0,0,0.5);
            background-blend-mode: multiply;

            p{
                @include font(21,normal,normal, 36);
                white-space:nowrap;
                color: #fff;
            }
        }

        .logo_box{
            @include center(flex-start);
            @include media(margin-top, 46);
            flex-direction: column;
            position:relative;
            
            .logo{
                @include media(width, 92);
                height: auto;
            }

            .x{
                @include media(width, 16);
                @include media4(margin, 15, 0, 15, 0);
                height: auto;
            }
        }
    }
}