// colors
$PRIMARY_COLOR: #68c0b5;
$PRIMARY_COLOR_LIGHT: #94e2d8;
$PRIMARY_COLOR_STRONGLIGHT: #eff9f8;
$PRIMARY_COLOR_SHADOW: rgba(69, 151, 140, 0.3);
$PRIMARY_COLOR_DARK: #499690;
$SECONDARY_COLOR: #fb8713;
$THIRD_COLOR: #fc0d3e;
$DANGER: #e81212;
$WHITE: #fff;
$GRAY_1: #f5f5f5; // f1f1f1, f6f6f6
$GRAY_2: #ebebeb; // eee, dedede
$GRAY_3: #d2d2d2; // cecece, d9d9d9,
$GRAY_4: #c5c5c5; // b4b4b4
$GRAY_5: #aaa; // b8b8b8
$GRAY_6: #a5a5a5; // 979797, a4a4a4, 9f9f9f
$GRAY_7: #888; // 949494, 828282
$GRAY_8: #707070; // 6e6e6e, 686868
$GRAY_9: #555555;
$GRAY_10: #3a3a3a; //343434, 404040
$GRAY_11: #060606; // a1a1a1, 1a1a1a
$BLACK: #000;
$COLOR: #202020;

// layout
$MAX_WIDTH: 420;
$SUB_HEADER: 120;
$FOOTER_BAR: 148;

@mixin center($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin ellipsis($width, $value: '') {
	@if ($value == '') {
		@include media(max-width, $width);
	} @else {
		@include mediaCalc(max-width, $value, '-', $width);
	}
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: bottom;
}

@mixin skeleton($position: relative) {
	position: $position;
	overflow: hidden;
	background-color: $GRAY_2;
	z-index: 1;
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0, 0, 1px);

	img {
		position: relative;
		z-index: 3;
		-webkit-transform: translate3d(0, 0, 1px);
		transform: translate3d(0, 0, 1px);
	}

	&:before {
		@include content;
		background-image: linear-gradient(to right, transparent, $WHITE, transparent);
		animation: imgSkeleton 2s infinite;
		z-index: 2;
		-webkit-transform: translate3d(0, 0, 1px);
		transform: translate3d(0, 0, 1px);
	}
}

@mixin fit($fit: cover) {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: $fit;
}

@mixin content($content: '') {
	content: $content;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin hide {
	position: absolute;
	font-size: 0 !important;
	line-height: 0 !important;
	letter-spacing: 0 !important;
	opacity: 0 !important;
	background-color: transparent !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 0 !important;
	height: 0 !important;
	appearance: none !important;
	overflow: hidden !important;
}

@mixin absolAlgin($position: absolute) {
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin font($fontSize, $letterSpacing, $fontWeight, $lineHeight: '') {
	@include media(font-size, $fontSize);
	@if ($letterSpacing == normal) {
		letter-spacing: normal;
	} @else {
		@include media(letter-spacing, $letterSpacing);
	}
	font-weight: #{$fontWeight};
	@if ($lineHeight != '') {
		@include media(line-height, $lineHeight);
	}
}

// media query
@mixin media($key, $value, $important: '') {
	#{$key}: calc(100vw * ($value / $MAX_WIDTH)) #{$important};

	@media (min-width: #{$MAX_WIDTH}px) {
		#{$key}: #{$value}px #{$important};
	}
}

// calculation
@mixin mediaCalc($key, $value1, $calc, $value2) {
	#{$key}: calc(#{$value1} #{$calc} calc(100vw * (#{$value2} / #{$MAX_WIDTH})));

	@media (min-width: #{$MAX_WIDTH}px) {
		#{$key}: calc(#{$value1} #{$calc} #{$value2}px);
	}
}

// margin | padding / border-radius 4value
@mixin media4($key, $top: '', $right: '', $bottom: '', $left: '') {
	@if ($key == border-radius) {
		border-radius: #{$top}px #{$right}px #{$bottom}px #{$left}px;
	} @else {
		@if ($top != '') {
			#{$key}-top: calc(100vw * ($top / $MAX_WIDTH));

			@media (min-width: #{$MAX_WIDTH}px) {
				#{$key}-top: #{$top}px;
			}
		}
		@if ($right != '') {
			@if ($right == auto) {
				#{$key}-right: auto;
			} @else {
				#{$key}-right: calc(100vw * ($right / $MAX_WIDTH));

				@media (min-width: #{$MAX_WIDTH}px) {
					#{$key}-right: #{$right}px;
				}
			}
		}
		@if ($bottom != '') {
			#{$key}-bottom: calc(100vw * ($bottom / $MAX_WIDTH));

			@media (min-width: #{$MAX_WIDTH}px) {
				#{$key}-bottom: #{$bottom}px;
			}
		}
		@if ($left != '') {
			@if ($left == auto) {
				#{$key}-left: auto;
			} @else {
				#{$key}-left: calc(100vw * ($left / $MAX_WIDTH));

				@media (min-width: #{$MAX_WIDTH}px) {
					#{$key}-left: #{$left}px;
				}
			}
		}
	}
}

// box shadow media query
@mixin boxshadow($x, $y, $blur, $spread: 0, $color) {
	box-shadow: calc(100vw * ($x / $MAX_WIDTH)) calc(100vw * ($y / $MAX_WIDTH)) calc(100vw * ($blur / $MAX_WIDTH)) calc(100vw * ($spread / $MAX_WIDTH)) $color;

	@media (min-width: #{$MAX_WIDTH}px) {
		box-shadow: #{$x}px #{$y}px #{$blur}px #{$spread}px #{$color};
	}
}
